# Impyte Documentation
This is a first practicle attempt to clarify the usage of `impyte`. It's a collection of easy applicable and reproducible examples that you could use to simplyify your data processing workflow.

## Importing and generating sample data
In order to show some of the features of the library, we'll be using Kaggle's HR data that can be found [here](https://www.kaggle.com/ludobenistant/hr-analytics).

In [1]:
# import library and data set
import impyte
import pandas as pd
from tools.data_prep import remove_random

In [2]:
data = pd.read_csv('data/hr_test.csv')

In [3]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## Add random missing values
In order to show some of the pattern visualization and imputation methods, we need incomplete data sets. To achieve this, we'll be using a helper function that deletes values at random. 25 % of all values from each category will be deleted.

In [4]:
data = remove_random(data, .25)

In [5]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.88,3.0,153.0,3.0,0.0,0.0,0.0,technical,low
1,NaN,0.80,3.0,263.0,3.0,0.0,0.0,0.0,marketing,medium
2,NaN,0.61,4.0,147.0,3.0,0.0,0.0,0.0,accounting,medium
3,NaN,0.48,3.0,211.0,7.0,0.0,0.0,0.0,sales,medium
4,NaN,0.71,5.0,265.0,2.0,0.0,0.0,1.0,sales,medium

In [6]:
data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14625.000000,14625.000000,14625.000000,14625.000000,14625.000000,14625.000000,14625.000000,14625.000000
mean,0.612628,0.716301,3.803556,201.022359,3.498872,0.144889,0.238906,0.021128
std,0.248868,0.171224,1.232165,49.976471,1.460321,0.352001,0.426430,0.143817
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [7]:
len(data)

14999

In [8]:
reload(impyte)
imputer = impyte.Imputer() # instantiate impyte class
nan_checker = impyte.NanChecker()
pattern_log = impyte.Pattern()

### Testing rudimentary features
Below is a first trial run of some of the features implemented by impyter and its helper classes.

#### NanChecker.is_nan( )
The NaN detection feature that also enables NaN-value ingestion as parameter values.

In [9]:
# [True, False, False]
print nan_checker.is_nan(["", 'None', 'NaN'])

# [True, True, True]
print nan_checker.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

[True, False, False]
[True, True, True]

#### Pattern.row_nan_pattern( )
This is a core piece to determining which patterns are available. Other methods work with the output of `row_nan_pattern()` to determine unique pattern structures and count these before turning them into readable tables.

In [10]:
# (1, 1, 'NaN', 'NaN')
print pattern_log.row_nan_pattern(['yes', 'no', '', None])

(1, 1, 'NaN', 'NaN')

### Timing some of the functions
Below is a piece of information on efficiency of the functions. This doesn't reflect complexity of the functions, but it will show an runtime estimate for your local machine.

In [11]:
%timeit nan_checker.is_nan(["", 'None', 'NaN'])
%timeit nan_checker.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

100000 loops, best of 3: 4.74 µs per loop
100000 loops, best of 3: 4.9 µs per loop

In [12]:
# Showcase nan_check
%timeit pattern_log.row_nan_pattern(['yes', 'no', '', None])

The slowest run took 5.11 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 8.02 µs per loop

In [13]:
%timeit pattern_log.print_pattern(data)

1 loop, best of 3: 748 ms per loop

In [14]:
%timeit pattern_log.compute_pattern(data)

1 loop, best of 3: 1.71 s per loop

#### Pattern.compute_pattern( )
Feature that computes pattern and returns its pattern structure plus the count of data points for each of these patterns. To get a nice digestible table add `['table']` selector to output.

In [15]:
pattern_log.compute_pattern(data)['table']

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
10,1,1,1,1,1,1,1,1,1,1,11259
8,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
9,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,1,1,1,NaN,1,1,374
4,1,1,1,1,NaN,1,1,1,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
5,1,1,1,1,1,NaN,1,1,1,1,374
6,1,1,1,1,1,1,NaN,1,1,1,374

### Load data into imputer

In [16]:
reload(impyte)
imputer.load_data(data)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.88,3.0,153.0,3.0,0.0,0.0,0.0,technical,low
1,NaN,0.80,3.0,263.0,3.0,0.0,0.0,0.0,marketing,medium
2,NaN,0.61,4.0,147.0,3.0,0.0,0.0,0.0,accounting,medium
3,NaN,0.48,3.0,211.0,7.0,0.0,0.0,0.0,sales,medium
4,NaN,0.71,5.0,265.0,2.0,0.0,0.0,1.0,sales,medium
5,NaN,0.44,4.0,166.0,4.0,1.0,0.0,0.0,support,low
6,NaN,0.54,4.0,191.0,2.0,1.0,0.0,1.0,sales,medium
7,NaN,0.96,6.0,310.0,4.0,0.0,1.0,0.0,technical,low
8,NaN,0.62,5.0,254.0,5.0,1.0,0.0,0.0,sales,low
9,NaN,0.84,6.0,309.0,4.0,0.0,1.0,0.0,support,low
10,NaN,0.96,4.0,185.0,2.0,1.0,0.0,0.0,sales,medium
11,NaN,0.41,5.0,152.0,3.0,0.0,0.0,0.0,sales,medium
12,NaN,0.53,6.0,191.0,4.0,0.0,0.0,0.0,support,low
13,NaN,0.83,5.0,249.0,4.0,0.0,1.0,0.0,technical,medium
14,NaN,0.76,3.0,173.0,2.0,0.0,0.0,0.0,product_mng,low
15,NaN,0.58,4.0,169.0,2.0,0.0,0.0,0.0,sales,low
16,NaN,0.51,4.0,281.0,3.0,0.0,0.0,0.0,IT,low
17,NaN,0.93,4.0,251.0,4.0,1.0,0.0,0.0,RandD,low
18,NaN,0.67,4.0,141.0,2.0,1.0,0.0,0.0,sales,low
19,NaN,0.93,4.0,260.0,4.0,0.0,0.0,0.0,RandD,low
20,NaN,0.92,4.0,149.0,2.0,0.0,0.0,0.0,product_mng,medium
21,NaN,0.95,3.0,266.0,3.0,0.0,0.0,0.0,sales,medium
22,NaN,0.54,2.0,132.0,3.0,0.0,1.0,0.0,technical,low
23,NaN,0.84,2.0,226.0,3.0,0.0,0.0,0.0,RandD,low
24,NaN,0.75,3.0,214.0,3.0,0.0,0.0,0.0,support,medium
25,NaN,0.50,2.0,162.0,2.0,0.0,0.0,0.0,management,high
26,NaN,0.63,5.0,156.0,3.0,0.0,0.0,0.0,technical,medium
27,NaN,0.58,3.0,220.0,7.0,0.0,0.0,1.0,sales,low
28,NaN,0.57,4.0,261.0,4.0,0.0,0.0,0.0,technical,low
29,NaN,0.75,4.0,203.0,3.0,1.0,0.0,0.0,IT,low
...,...,...,...,...,...,...,...,...,...,...
14969,0.94,0.69,2.0,198.0,3.0,0.0,0.0,0.0,technical,low
14970,0.37,0.57,2.0,130.0,3.0,0.0,1.0,0.0,sales,low
14971,0.52,0.56,3.0,225.0,3.0,0.0,0.0,0.0,accounting,medium
14972,0.09,0.77,5.0,275.0,4.0,0.0,1.0,0.0,product_mng,medium
14973,0.40,0.55,2.0,150.0,3.0,0.0,1.0,0.0,IT,medium
14974,0.38,0.49,2.0,145.0,3.0,0.0,1.0,0.0,IT,low
14975,0.72,0.93,4.0,174.0,2.0,0.0,0.0,0.0,sales,low
14976,0.24,0.65,6.0,210.0,5.0,0.0,0.0,0.0,management,high
14977,0.84,0.75,4.0,135.0,3.0,0.0,0.0,1.0,RandD,medium
14978,0.68,0.80,2.0,257.0,2.0,1.0,0.0,0.0,sales,low
14979,0.86,0.87,5.0,171.0,2.0,0.0,0.0,0.0,sales,low
14980,0.74,0.70,4.0,260.0,2.0,0.0,0.0,0.0,support,low
14981,0.66,0.62,3.0,144.0,3.0,0.0,0.0,0.0,management,low
14982,0.77,0.89,4.0,269.0,10.0,0.0,0.0,0.0,management,high
14983,0.42,0.85,3.0,150.0,3.0,0.0,0.0,0.0,sales,low
14984,0.74,0.74,2.0,254.0,3.0,0.0,0.0,0.0,product_mng,low
14985,0.50,0.38,5.0,175.0,4.0,0.0,0.0,0.0,technical,high
14986,0.60,0.52,3.0,183.0,2.0,0.0,0.0,0.0,support,low
14987,0.72,0.53,5.0,244.0,4.0,0.0,0.0,0.0,sales,medium
14988,0.67,0.40,4.0,274.0,3.0,0.0,0.0,0.0,sales,low
14989,0.85,0.82,4.0,270.0,5.0,0.0,1.0,0.0,sales,low
14990,0.93,0.60,5.0,170.0,2.0,0.0,0.0,0.0,technical,medium
14991,0.14,0.38,5.0,115.0,6.0,1.0,0.0,0.0,marketing,high
14992,0.95,0.48,4.0,228.0,2.0,0.0,0.0,0.0,sales,medium
14993,0.86,0.63,4.0,162.0,2.0,0.0,0.0,0.0,support,medium
14994,0.61,0.63,3.0,250.0,4.0,0.0,0.0,0.0,IT,low
14995,0.21,0.39,6.0,132.0,5.0,0.0,0.0,0.0,accounting,medium
14996,0.70,0.62,3.0,110.0,3.0,0.0,0.0,0.0,product_mng,low
14997,0.75,0.85,5.0,267.0,5.0,0.0,1.0,0.0,support,low
14998,0.70,0.54,5.0,263.0,3.0,0.0,0.0,0.0,technical,low

In [17]:
%timeit imputer.pattern()

1 loop, best of 3: 1.78 s per loop

In [18]:
%timeit imputer.get_pattern(4)

The slowest run took 6.55 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 704 µs per loop

In [40]:
reload(impyte)
imputer = impyte.Imputer(data) # instantiate impyte class
nan_checker = impyte.NanChecker()
pattern_log = impyte.Pattern()
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
10,1,1,1,1,1,1,1,1,1,1,11259
8,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
9,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,1,1,1,NaN,1,1,374
4,1,1,1,1,NaN,1,1,1,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
5,1,1,1,1,1,NaN,1,1,1,1,374
6,1,1,1,1,1,1,NaN,1,1,1,374

In [41]:
_ = imputer.drop_pattern(4, inplace=True)

In [42]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
10,1,1,1,1,1,1,1,1,1,1,11259
8,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
9,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,1,1,1,NaN,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
5,1,1,1,1,1,NaN,1,1,1,1,374
6,1,1,1,1,1,1,NaN,1,1,1,374

In [43]:
_ = imputer.load_data(data)

In [44]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
10,1,1,1,1,1,1,1,1,1,1,11259
8,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
9,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,1,1,1,NaN,1,1,374
4,1,1,1,1,NaN,1,1,1,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
5,1,1,1,1,1,NaN,1,1,1,1,374
6,1,1,1,1,1,1,NaN,1,1,1,374

In [45]:
_ = imputer.drop_pattern(4)

In [46]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
10,1,1,1,1,1,1,1,1,1,1,11259
8,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
9,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,1,1,1,NaN,1,1,374
4,1,1,1,1,NaN,1,1,1,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
5,1,1,1,1,1,NaN,1,1,1,1,374
6,1,1,1,1,1,1,NaN,1,1,1,374

In [47]:
imputer.drop_pattern(7, inplace=True)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.88,3.0,153.0,3.0,0.0,0.0,0.0,technical,low
1,NaN,0.80,3.0,263.0,3.0,0.0,0.0,0.0,marketing,medium
2,NaN,0.61,4.0,147.0,3.0,0.0,0.0,0.0,accounting,medium
3,NaN,0.48,3.0,211.0,7.0,0.0,0.0,0.0,sales,medium
4,NaN,0.71,5.0,265.0,2.0,0.0,0.0,1.0,sales,medium
5,NaN,0.44,4.0,166.0,4.0,1.0,0.0,0.0,support,low
6,NaN,0.54,4.0,191.0,2.0,1.0,0.0,1.0,sales,medium
7,NaN,0.96,6.0,310.0,4.0,0.0,1.0,0.0,technical,low
8,NaN,0.62,5.0,254.0,5.0,1.0,0.0,0.0,sales,low
9,NaN,0.84,6.0,309.0,4.0,0.0,1.0,0.0,support,low
10,NaN,0.96,4.0,185.0,2.0,1.0,0.0,0.0,sales,medium
11,NaN,0.41,5.0,152.0,3.0,0.0,0.0,0.0,sales,medium
12,NaN,0.53,6.0,191.0,4.0,0.0,0.0,0.0,support,low
13,NaN,0.83,5.0,249.0,4.0,0.0,1.0,0.0,technical,medium
14,NaN,0.76,3.0,173.0,2.0,0.0,0.0,0.0,product_mng,low
15,NaN,0.58,4.0,169.0,2.0,0.0,0.0,0.0,sales,low
16,NaN,0.51,4.0,281.0,3.0,0.0,0.0,0.0,IT,low
17,NaN,0.93,4.0,251.0,4.0,1.0,0.0,0.0,RandD,low
18,NaN,0.67,4.0,141.0,2.0,1.0,0.0,0.0,sales,low
19,NaN,0.93,4.0,260.0,4.0,0.0,0.0,0.0,RandD,low
20,NaN,0.92,4.0,149.0,2.0,0.0,0.0,0.0,product_mng,medium
21,NaN,0.95,3.0,266.0,3.0,0.0,0.0,0.0,sales,medium
22,NaN,0.54,2.0,132.0,3.0,0.0,1.0,0.0,technical,low
23,NaN,0.84,2.0,226.0,3.0,0.0,0.0,0.0,RandD,low
24,NaN,0.75,3.0,214.0,3.0,0.0,0.0,0.0,support,medium
25,NaN,0.50,2.0,162.0,2.0,0.0,0.0,0.0,management,high
26,NaN,0.63,5.0,156.0,3.0,0.0,0.0,0.0,technical,medium
27,NaN,0.58,3.0,220.0,7.0,0.0,0.0,1.0,sales,low
28,NaN,0.57,4.0,261.0,4.0,0.0,0.0,0.0,technical,low
29,NaN,0.75,4.0,203.0,3.0,1.0,0.0,0.0,IT,low
...,...,...,...,...,...,...,...,...,...,...
14969,0.94,0.69,2.0,198.0,3.0,0.0,0.0,0.0,technical,low
14970,0.37,0.57,2.0,130.0,3.0,0.0,1.0,0.0,sales,low
14971,0.52,0.56,3.0,225.0,3.0,0.0,0.0,0.0,accounting,medium
14972,0.09,0.77,5.0,275.0,4.0,0.0,1.0,0.0,product_mng,medium
14973,0.40,0.55,2.0,150.0,3.0,0.0,1.0,0.0,IT,medium
14974,0.38,0.49,2.0,145.0,3.0,0.0,1.0,0.0,IT,low
14975,0.72,0.93,4.0,174.0,2.0,0.0,0.0,0.0,sales,low
14976,0.24,0.65,6.0,210.0,5.0,0.0,0.0,0.0,management,high
14977,0.84,0.75,4.0,135.0,3.0,0.0,0.0,1.0,RandD,medium
14978,0.68,0.80,2.0,257.0,2.0,1.0,0.0,0.0,sales,low
14979,0.86,0.87,5.0,171.0,2.0,0.0,0.0,0.0,sales,low
14980,0.74,0.70,4.0,260.0,2.0,0.0,0.0,0.0,support,low
14981,0.66,0.62,3.0,144.0,3.0,0.0,0.0,0.0,management,low
14982,0.77,0.89,4.0,269.0,10.0,0.0,0.0,0.0,management,high
14983,0.42,0.85,3.0,150.0,3.0,0.0,0.0,0.0,sales,low
14984,0.74,0.74,2.0,254.0,3.0,0.0,0.0,0.0,product_mng,low
14985,0.50,0.38,5.0,175.0,4.0,0.0,0.0,0.0,technical,high
14986,0.60,0.52,3.0,183.0,2.0,0.0,0.0,0.0,support,low
14987,0.72,0.53,5.0,244.0,4.0,0.0,0.0,0.0,sales,medium
14988,0.67,0.40,4.0,274.0,3.0,0.0,0.0,0.0,sales,low
14989,0.85,0.82,4.0,270.0,5.0,0.0,1.0,0.0,sales,low
14990,0.93,0.60,5.0,170.0,2.0,0.0,0.0,0.0,technical,medium
14991,0.14,0.38,5.0,115.0,6.0,1.0,0.0,0.0,marketing,high
14992,0.95,0.48,4.0,228.0,2.0,0.0,0.0,0.0,sales,medium
14993,0.86,0.63,4.0,162.0,2.0,0.0,0.0,0.0,support,medium
14994,0.61,0.63,3.0,250.0,4.0,0.0,0.0,0.0,IT,low
14995,0.21,0.39,6.0,132.0,5.0,0.0,0.0,0.0,accounting,medium
14996,0.70,0.62,3.0,110.0,3.0,0.0,0.0,0.0,product_mng,low
14997,0.75,0.85,5.0,267.0,5.0,0.0,1.0,0.0,support,low
14998,0.70,0.54,5.0,263.0,3.0,0.0,0.0,0.0,technical,low

In [48]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
10,1,1,1,1,1,1,1,1,1,1,11259
8,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
9,1,1,1,1,1,1,1,1,1,NaN,374
4,1,1,1,1,NaN,1,1,1,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
5,1,1,1,1,1,NaN,1,1,1,1,374
6,1,1,1,1,1,1,NaN,1,1,1,374

In [44]:
imputer.impute()

(['satisfaction_level',
  'last_evaluation',
  'number_project',
  'average_montly_hours',
  'time_spend_company',
  'Work_accident',
  'left',
  'promotion_last_5years'],
 ['sales', 'salary'])

In [45]:
data.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
14994,0.52,0.94,3.0,263.0,3.0,0.0,0.0,0.0,product_mng,medium
14995,0.43,0.44,5.0,213.0,3.0,0.0,0.0,0.0,sales,low
14996,0.45,0.49,2.0,134.0,3.0,0.0,1.0,0.0,RandD,medium
14997,0.10,0.90,7.0,281.0,4.0,0.0,1.0,0.0,sales,low
14998,0.54,0.67,2.0,129.0,3.0,1.0,0.0,0.0,sales,low

In [35]:
nnna = {}

In [39]:
if not nnna:
    print "yes"

yes