In [58]:
import impyte
reload(impyte)
import pandas as pd
from tools.data_prep import remove_random

In [59]:
data = pd.read_csv('data/hr_test.csv')

In [60]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [61]:
data = remove_random(data, .25)

In [62]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.78,4.0,254.0,4.0,0.0,0.0,0.0,sales,low
1,NaN,0.67,4.0,133.0,3.0,0.0,0.0,0.0,sales,medium
2,NaN,0.73,3.0,115.0,6.0,0.0,0.0,0.0,sales,high
3,NaN,0.49,3.0,199.0,10.0,0.0,0.0,0.0,technical,medium
4,NaN,0.60,3.0,160.0,10.0,0.0,0.0,0.0,support,medium

In [70]:
reload(impyte)
imputer = impyte.Imputer()
nan_checker = impyte.NanChecker()
pattern_log = impyte.PatternLogger()

In [71]:
%timeit nan_checker.is_nan(["", 'None', 'NaN'])
%timeit nan_checker.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

The slowest run took 4.02 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 5.22 µs per loop
100000 loops, best of 3: 5.66 µs per loop

In [72]:
# Showcase nan_check
%timeit pattern_log.row_nan_pattern(['yes', 'no', '', None])

100000 loops, best of 3: 9.31 µs per loop

In [73]:
%timeit pattern_log.print_pattern(data)

1 loop, best of 3: 800 ms per loop

In [74]:
pattern_log.print_pattern(data)

Counter({(1, 1, 1, 1, 1, 1, 1, 1, 1, 1): 11259,
         (1, 1, 1, 1, 1, 1, 1, 1, 1, 'NaN'): 374,
         (1, 1, 1, 1, 1, 1, 1, 1, 'NaN', 1): 374,
         (1, 1, 1, 1, 1, 1, 1, 'NaN', 1, 1): 374,
         (1, 1, 1, 1, 1, 1, 'NaN', 1, 1, 1): 374,
         (1, 1, 1, 1, 1, 'NaN', 1, 1, 1, 1): 374,
         (1, 1, 1, 1, 'NaN', 1, 1, 1, 1, 1): 374,
         (1, 1, 1, 'NaN', 1, 1, 1, 1, 1, 1): 374,
         (1, 1, 'NaN', 1, 1, 1, 1, 1, 1, 1): 374,
         (1, 'NaN', 1, 1, 1, 1, 1, 1, 1, 1): 374,
         ('NaN', 1, 1, 1, 1, 1, 1, 1, 1, 1): 374})

In [75]:
imputer.print_pattern(data)

Counter({(1, 1, 1, 1, 1, 1, 1, 1, 1, 1): 11259,
         (1, 1, 1, 1, 1, 1, 1, 1, 1, 'NaN'): 374,
         (1, 1, 1, 1, 1, 1, 1, 1, 'NaN', 1): 374,
         (1, 1, 1, 1, 1, 1, 1, 'NaN', 1, 1): 374,
         (1, 1, 1, 1, 1, 1, 'NaN', 1, 1, 1): 374,
         (1, 1, 1, 1, 1, 'NaN', 1, 1, 1, 1): 374,
         (1, 1, 1, 1, 'NaN', 1, 1, 1, 1, 1): 374,
         (1, 1, 1, 'NaN', 1, 1, 1, 1, 1, 1): 374,
         (1, 1, 'NaN', 1, 1, 1, 1, 1, 1, 1): 374,
         (1, 'NaN', 1, 1, 1, 1, 1, 1, 1, 1): 374,
         ('NaN', 1, 1, 1, 1, 1, 1, 1, 1, 1): 374})