# Impyte Documentation
This is a first practicle attempt to clarify the usage of `impyte`. It's a collection of easy applicable and reproducible examples that you could use to simplyify your data processing workflow.

## Generating sample data
In order to show some of the features of the library, we'll be using Kaggle's HR data that can be found [here](https://www.kaggle.com/ludobenistant/hr-analytics).

In [15]:
# import library and data set
import impyte
import pandas as pd
from tools.data_prep import remove_random

In [16]:
data = pd.read_csv('data/hr_test.csv')

In [17]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## Add random missing values
In order to show some of the pattern visualization and imputation methods, we need incomplete data sets. To achieve this, we'll be using a helper function that deletes values at random. 25 % of all values from each category will be deleted.

In [18]:
data = remove_random(data, .25)

In [19]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.51,0.95,4.0,201.0,3.0,0.0,0.0,0.0,technical,medium
1,NaN,0.70,3.0,155.0,3.0,0.0,0.0,0.0,IT,medium
2,0.82,0.91,5.0,232.0,5.0,0.0,1.0,0.0,technical,low
3,0.74,0.54,5.0,216.0,3.0,0.0,1.0,0.0,sales,low
4,0.73,0.73,5.0,249.0,3.0,0.0,0.0,0.0,technical,medium

In [45]:
len(data)

14999

In [46]:
reload(impyte)
imputer = impyte.Imputer() # instantiate impyte class
nan_checker = impyte.NanChecker()
pattern_log = impyte.Pattern()

In [21]:
%timeit nan_checker.is_nan(["", 'None', 'NaN'])
%timeit nan_checker.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

The slowest run took 5.46 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 6.59 µs per loop
The slowest run took 4.71 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 5.32 µs per loop

In [22]:
# Showcase nan_check
%timeit pattern_log.row_nan_pattern(['yes', 'no', '', None])

100000 loops, best of 3: 8.26 µs per loop

In [23]:
%timeit pattern_log.print_pattern(data)

1 loop, best of 3: 813 ms per loop

In [24]:
%timeit pattern_log.compute_pattern(data)

1 loop, best of 3: 1.87 s per loop

In [25]:
pattern_log.compute_pattern(data)['table']

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
5,1,1,1,1,1,1,1,1,NaN,1,374
8,1,1,1,NaN,1,1,1,1,1,1,374
9,1,1,NaN,1,1,1,1,1,1,1,374
10,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,1,NaN,1,1,1,1,374
3,1,1,1,1,NaN,1,1,1,1,1,374
1,NaN,1,1,1,1,1,1,1,1,1,374
4,1,NaN,1,1,1,1,1,1,1,1,374
2,1,1,1,1,1,1,NaN,1,1,1,374
6,1,1,1,1,1,1,1,NaN,1,1,374

### Load data into imputer

In [58]:
reload(impyte)
imputer.load_data(data)

In [48]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
5,1,1,1,1,1,1,1,1,NaN,1,374
8,1,1,1,NaN,1,1,1,1,1,1,374
9,1,1,NaN,1,1,1,1,1,1,1,374
10,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,1,NaN,1,1,1,1,374
3,1,1,1,1,NaN,1,1,1,1,1,374
1,NaN,1,1,1,1,1,1,1,1,1,374
4,1,NaN,1,1,1,1,1,1,1,1,374
2,1,1,1,1,1,1,NaN,1,1,1,374
6,1,1,1,1,1,1,1,NaN,1,1,374

In [49]:
imputer.get_pattern(4)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
27,0.63,NaN,4.0,160.0,2.0,0.0,0.0,0.0,product_mng,high
49,0.78,NaN,3.0,224.0,2.0,0.0,0.0,0.0,sales,medium
58,0.36,NaN,2.0,144.0,3.0,0.0,1.0,0.0,technical,low
74,0.78,NaN,4.0,184.0,3.0,0.0,0.0,0.0,sales,low
84,0.34,NaN,2.0,164.0,2.0,0.0,0.0,0.0,sales,low
114,0.37,NaN,2.0,153.0,3.0,0.0,1.0,0.0,sales,low
128,0.10,NaN,6.0,247.0,4.0,0.0,1.0,0.0,technical,low
131,0.50,NaN,4.0,165.0,3.0,0.0,0.0,0.0,accounting,low
175,0.87,NaN,2.0,154.0,3.0,0.0,0.0,0.0,IT,medium
214,0.84,NaN,4.0,261.0,5.0,0.0,1.0,0.0,sales,low
236,0.99,NaN,3.0,119.0,2.0,1.0,0.0,0.0,marketing,low
298,1.00,NaN,3.0,216.0,3.0,1.0,0.0,0.0,sales,low
349,0.88,NaN,5.0,258.0,5.0,0.0,1.0,0.0,support,low
461,0.90,NaN,5.0,152.0,3.0,0.0,0.0,0.0,IT,medium
553,0.87,NaN,5.0,261.0,5.0,1.0,1.0,0.0,technical,medium
594,0.86,NaN,3.0,213.0,3.0,0.0,0.0,0.0,IT,high
598,0.82,NaN,4.0,149.0,2.0,0.0,0.0,0.0,sales,low
679,0.95,NaN,4.0,219.0,2.0,0.0,0.0,0.0,sales,medium
680,0.94,NaN,4.0,266.0,3.0,1.0,0.0,0.0,support,medium
714,0.65,NaN,3.0,259.0,3.0,0.0,0.0,0.0,marketing,medium
856,0.88,NaN,5.0,232.0,5.0,1.0,1.0,0.0,accounting,medium
857,0.59,NaN,4.0,141.0,2.0,1.0,0.0,0.0,hr,medium
894,0.41,NaN,6.0,221.0,10.0,0.0,0.0,0.0,marketing,medium
899,0.58,NaN,3.0,151.0,2.0,0.0,0.0,0.0,product_mng,low
904,0.55,NaN,4.0,257.0,3.0,0.0,0.0,0.0,product_mng,low
935,0.92,NaN,4.0,213.0,3.0,0.0,0.0,0.0,sales,medium
1087,0.68,NaN,3.0,209.0,3.0,0.0,0.0,0.0,sales,high
1092,0.36,NaN,2.0,127.0,3.0,0.0,1.0,0.0,marketing,low
1152,0.40,NaN,5.0,99.0,2.0,1.0,0.0,0.0,support,high
1156,0.89,NaN,5.0,246.0,5.0,0.0,1.0,0.0,sales,low
...,...,...,...,...,...,...,...,...,...,...
13974,0.70,NaN,3.0,225.0,2.0,0.0,0.0,0.0,sales,low
13978,0.93,NaN,3.0,212.0,3.0,0.0,0.0,0.0,sales,medium
13990,0.20,NaN,3.0,209.0,5.0,0.0,0.0,0.0,hr,medium
14035,0.67,NaN,4.0,165.0,3.0,0.0,0.0,0.0,RandD,low
14084,0.66,NaN,4.0,252.0,3.0,0.0,0.0,0.0,IT,medium
14165,0.54,NaN,4.0,282.0,6.0,0.0,0.0,0.0,technical,medium
14205,0.64,NaN,4.0,157.0,7.0,0.0,0.0,0.0,marketing,low
14211,0.67,NaN,3.0,251.0,2.0,0.0,0.0,0.0,marketing,low
14281,0.86,NaN,5.0,245.0,6.0,0.0,1.0,0.0,accounting,medium
14337,0.39,NaN,2.0,134.0,3.0,0.0,1.0,0.0,technical,low
14340,0.28,NaN,4.0,162.0,3.0,0.0,0.0,0.0,sales,low
14347,0.66,NaN,3.0,199.0,2.0,0.0,0.0,0.0,technical,low
14368,0.49,NaN,2.0,148.0,2.0,1.0,0.0,1.0,management,high
14467,0.99,NaN,6.0,139.0,5.0,1.0,0.0,0.0,technical,medium
14493,0.58,NaN,5.0,162.0,3.0,1.0,0.0,0.0,technical,medium
14606,0.57,NaN,2.0,204.0,10.0,0.0,0.0,0.0,accounting,low
14650,0.56,NaN,4.0,172.0,2.0,0.0,0.0,0.0,support,medium
14687,0.95,NaN,4.0,258.0,7.0,0.0,0.0,1.0,sales,medium
14691,0.67,NaN,4.0,168.0,2.0,0.0,0.0,0.0,support,high
14740,0.20,NaN,3.0,180.0,6.0,0.0,0.0,0.0,sales,medium
14745,0.64,NaN,4.0,191.0,4.0,0.0,0.0,0.0,IT,low
14804,0.75,NaN,5.0,254.0,5.0,0.0,1.0,0.0,sales,low
14813,0.91,NaN,4.0,125.0,4.0,0.0,0.0,0.0,sales,medium
14817,0.49,NaN,4.0,247.0,3.0,0.0,0.0,0.0,RandD,medium
14825,0.55,NaN,3.0,197.0,3.0,0.0,0.0,0.0,support,high
14828,0.82,NaN,5.0,173.0,2.0,0.0,0.0,0.0,RandD,low
14884,0.79,NaN,3.0,202.0,3.0,0.0,0.0,0.0,product_mng,medium
14887,0.76,NaN,5.0,262.0,5.0,0.0,1.0,0.0,sales,low
14930,0.43,NaN,2.0,154.0,3.0,1.0,1.0,0.0,product_mng,medium
14981,0.91,NaN,4.0,226.0,3.0,1.0,0.0,0.0,IT,low

In [59]:
reload(impyte)
imputer = impyte.Imputer(data) # instantiate impyte class
nan_checker = impyte.NanChecker()
pattern_log = impyte.Pattern()
imputer.pattern()
imputer.drop_pattern(4)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.51,0.95,4.0,201.0,3.0,0.0,0.0,0.0,technical,medium
1,NaN,0.70,3.0,155.0,3.0,0.0,0.0,0.0,IT,medium
2,0.82,0.91,5.0,232.0,5.0,0.0,1.0,0.0,technical,low
3,0.74,0.54,5.0,216.0,3.0,0.0,1.0,0.0,sales,low
4,0.73,0.73,5.0,249.0,3.0,0.0,0.0,0.0,technical,medium
5,0.50,0.68,4.0,274.0,4.0,0.0,NaN,0.0,sales,medium
6,0.11,0.93,5.0,140.0,5.0,0.0,1.0,0.0,hr,medium
7,0.45,0.68,4.0,212.0,4.0,1.0,1.0,0.0,sales,low
8,0.53,0.52,2.0,135.0,4.0,0.0,0.0,0.0,technical,medium
9,0.36,0.51,2.0,130.0,3.0,0.0,1.0,0.0,sales,low
10,0.93,0.68,4.0,196.0,2.0,1.0,0.0,0.0,support,low
11,NaN,0.64,3.0,169.0,10.0,0.0,0.0,0.0,IT,medium
12,0.55,0.65,4.0,170.0,4.0,0.0,0.0,0.0,sales,low
13,0.49,0.52,4.0,251.0,2.0,0.0,0.0,0.0,support,low
14,0.52,0.72,2.0,247.0,4.0,0.0,0.0,0.0,accounting,medium
15,0.81,0.51,3.0,247.0,2.0,0.0,0.0,0.0,support,medium
16,NaN,0.78,3.0,209.0,2.0,0.0,0.0,0.0,product_mng,high
17,0.85,0.69,5.0,273.0,3.0,1.0,0.0,0.0,hr,low
18,0.68,1.00,4.0,167.0,2.0,0.0,0.0,0.0,sales,low
19,0.64,0.52,3.0,223.0,3.0,0.0,0.0,0.0,sales,low
20,0.60,0.67,3.0,249.0,2.0,0.0,0.0,0.0,sales,medium
21,0.97,0.89,4.0,248.0,2.0,0.0,0.0,0.0,sales,low
22,0.75,0.81,2.0,247.0,4.0,0.0,0.0,0.0,hr,low
23,0.13,0.67,5.0,234.0,NaN,0.0,0.0,0.0,sales,medium
24,0.36,0.47,2.0,148.0,3.0,0.0,1.0,0.0,technical,medium
25,0.84,1.00,5.0,234.0,5.0,0.0,NaN,0.0,technical,medium
26,0.80,0.67,3.0,178.0,3.0,0.0,0.0,0.0,IT,low
28,0.60,0.84,2.0,221.0,3.0,0.0,0.0,0.0,accounting,low
29,0.45,0.53,2.0,129.0,3.0,0.0,1.0,0.0,technical,high
30,0.24,0.79,2.0,175.0,NaN,0.0,0.0,0.0,IT,low
...,...,...,...,...,...,...,...,...,...,...
14968,0.77,0.71,5.0,204.0,3.0,0.0,0.0,0.0,sales,high
14969,0.69,0.75,3.0,204.0,3.0,0.0,0.0,0.0,sales,low
14970,0.45,0.64,3.0,169.0,10.0,0.0,0.0,0.0,IT,medium
14971,0.69,0.91,6.0,150.0,5.0,0.0,0.0,0.0,IT,medium
14972,0.81,0.84,4.0,173.0,4.0,0.0,0.0,0.0,sales,medium
14973,0.73,0.62,5.0,186.0,4.0,0.0,0.0,0.0,technical,None
14974,0.69,0.63,3.0,226.0,NaN,0.0,0.0,0.0,sales,low
14975,0.92,0.92,3.0,244.0,2.0,0.0,0.0,0.0,sales,high
14976,0.91,0.77,4.0,239.0,2.0,0.0,0.0,0.0,technical,medium
14977,0.73,0.77,3.0,233.0,3.0,0.0,0.0,0.0,sales,medium
14978,0.85,0.51,3.0,153.0,4.0,0.0,0.0,0.0,None,medium
14979,0.55,0.74,2.0,116.0,3.0,0.0,0.0,0.0,sales,low
14980,0.75,0.53,4.0,251.0,3.0,0.0,0.0,0.0,hr,low
14982,0.85,0.98,5.0,248.0,5.0,NaN,1.0,0.0,product_mng,medium
14983,0.62,0.95,4.0,140.0,2.0,0.0,0.0,0.0,accounting,low
14984,0.79,0.73,5.0,155.0,3.0,0.0,0.0,0.0,IT,medium
14985,0.14,0.58,6.0,205.0,3.0,0.0,0.0,0.0,hr,low
14986,0.60,0.54,3.0,265.0,3.0,1.0,0.0,0.0,sales,medium
14987,0.73,0.63,4.0,174.0,3.0,0.0,NaN,0.0,accounting,low
14988,0.57,0.61,3.0,167.0,2.0,1.0,0.0,0.0,IT,low
14989,0.64,0.61,3.0,263.0,3.0,0.0,0.0,0.0,support,low
14990,0.72,0.63,3.0,176.0,3.0,1.0,0.0,0.0,technical,low
14991,0.77,0.66,3.0,147.0,2.0,0.0,0.0,0.0,sales,medium
14992,0.43,0.47,2.0,135.0,3.0,0.0,1.0,0.0,sales,low
14993,0.82,0.89,4.0,237.0,3.0,0.0,0.0,0.0,support,medium
14994,0.76,0.73,3.0,192.0,2.0,0.0,0.0,0.0,technical,low
14995,0.54,0.52,3.0,115.0,3.0,0.0,0.0,0.0,accounting,low
14996,0.66,0.51,3.0,192.0,NaN,0.0,0.0,0.0,technical,low
14997,0.43,0.71,3.0,186.0,2.0,0.0,0.0,0.0,accounting,medium
14998,0.37,0.54,2.0,132.0,3.0,0.0,1.0,0.0,technical,low

In [60]:
#imputer.pattern()

In [61]:
imputer.load_data(data)

In [64]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
5,1,1,1,1,1,1,1,1,NaN,1,374
8,1,1,1,NaN,1,1,1,1,1,1,374
9,1,1,NaN,1,1,1,1,1,1,1,374
10,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,1,NaN,1,1,1,1,374
3,1,1,1,1,NaN,1,1,1,1,1,374
1,NaN,1,1,1,1,1,1,1,1,1,374
4,1,NaN,1,1,1,1,1,1,1,1,374
2,1,1,1,1,1,1,NaN,1,1,1,374
6,1,1,1,1,1,1,1,NaN,1,1,374