# Impyte Documentation
This is a first practicle attempt to clarify the usage of `impyte`. It's a collection of easy applicable and reproducible examples that you could use to simplyify your data processing workflow.

## Importing and generating sample data
In order to show some of the features of the library, we'll be using Kaggle's HR data that can be found [here](https://www.kaggle.com/ludobenistant/hr-analytics).

In [1]:
# import library and data set
import impyte
import pandas as pd
from tools.data_prep import remove_random

In [2]:
data = pd.read_csv('data/hr_test.csv')

In [3]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## Add random missing values
In order to show some of the pattern visualization and imputation methods, we need incomplete data sets. To achieve this, we'll be using a helper function that deletes values at random. 25 % of all values from each category will be deleted.

In [4]:
data = remove_random(data, .25)

In [5]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.37,2.0,159.0,6.0,0.0,0.0,0.0,RandD,low
1,NaN,0.69,2.0,257.0,2.0,1.0,0.0,0.0,product_mng,low
2,NaN,0.58,3.0,241.0,3.0,1.0,0.0,0.0,sales,medium
3,NaN,0.58,2.0,140.0,3.0,0.0,0.0,0.0,IT,low
4,NaN,0.90,7.0,296.0,4.0,0.0,1.0,0.0,technical,medium

In [9]:
data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14625.000000,14625.000000,14625.000000,14625.000000,14625.000000,14625.000000,14625.000000,14625.000000
mean,0.612697,0.716211,3.800137,201.054359,3.499282,0.144137,0.237402,0.021402
std,0.248975,0.171172,1.232503,49.963393,1.460275,0.351240,0.425505,0.144724
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [8]:
len(data)

14999

In [9]:
reload(impyte)
imputer = impyte.Imputer() # instantiate impyte class
nan_checker = impyte.NanChecker()
pattern_log = impyte.Pattern()

### Testing rudimentary features
Below is a first trial run of some of the features implemented by impyter and its helper classes.

#### NanChecker.is_nan( )
The NaN detection feature that also enables NaN-value ingestion as parameter values.

In [10]:
# [True, False, False]
print nan_checker.is_nan(["", 'None', 'NaN'])

# [True, True, True]
print nan_checker.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

[True, False, False]
[True, True, True]

#### Pattern.row_nan_pattern( )
This is a core piece to determining which patterns are available. Other methods work with the output of `row_nan_pattern()` to determine unique pattern structures and count these before turning them into readable tables.

In [11]:
# (1, 1, 'NaN', 'NaN')
print pattern_log.row_nan_pattern(['yes', 'no', '', None])

(1, 1, 'NaN', 'NaN')

### Timing some of the functions
Below is a piece of information on efficiency of the functions. This doesn't reflect complexity of the functions, but it will show an runtime estimate for your local machine.

In [12]:
%timeit nan_checker.is_nan(["", 'None', 'NaN'])
%timeit nan_checker.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

100000 loops, best of 3: 10.4 µs per loop
The slowest run took 5.37 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 10.5 µs per loop

In [13]:
# Showcase nan_check
%timeit pattern_log.row_nan_pattern(['yes', 'no', '', None])

10000 loops, best of 3: 18.3 µs per loop

In [14]:
%timeit pattern_log.print_pattern(data)

1 loop, best of 3: 1.61 s per loop

In [15]:
%timeit pattern_log.compute_pattern(data)

1 loop, best of 3: 3.94 s per loop

#### Pattern.compute_pattern( )
Feature that computes pattern and returns its pattern structure plus the count of data points for each of these patterns. To get a nice digestible table add `['table']` selector to output.

In [16]:
pattern_log.compute_pattern(data)['table']

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
10,1,1,1,1,1,1,1,1,1,1,11259
8,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
9,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,1,1,1,NaN,1,1,374
4,1,1,1,1,NaN,1,1,1,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
5,1,1,1,1,1,NaN,1,1,1,1,374
6,1,1,1,1,1,1,NaN,1,1,1,374

### Load data into imputer

In [17]:
reload(impyte)
imputer.load_data(data)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.73,5.0,184.0,4.0,1.0,0.0,0.0,technical,low
1,NaN,0.50,4.0,216.0,2.0,0.0,0.0,0.0,technical,low
2,NaN,0.57,2.0,130.0,3.0,0.0,1.0,0.0,hr,low
3,NaN,0.67,3.0,153.0,2.0,0.0,0.0,0.0,sales,low
4,NaN,0.59,2.0,182.0,3.0,0.0,0.0,0.0,technical,medium
5,NaN,0.54,2.0,129.0,3.0,0.0,1.0,0.0,marketing,high
6,NaN,0.56,3.0,225.0,3.0,0.0,0.0,0.0,accounting,medium
7,NaN,0.86,5.0,223.0,5.0,1.0,1.0,0.0,product_mng,medium
8,NaN,0.50,5.0,272.0,3.0,0.0,0.0,0.0,sales,low
9,NaN,0.60,4.0,170.0,3.0,0.0,0.0,0.0,RandD,low
10,NaN,0.62,4.0,201.0,3.0,0.0,0.0,0.0,support,medium
11,NaN,1.00,5.0,251.0,6.0,0.0,1.0,0.0,sales,low
12,NaN,0.76,3.0,262.0,2.0,0.0,0.0,0.0,accounting,medium
13,NaN,0.55,2.0,152.0,3.0,0.0,1.0,0.0,technical,medium
14,NaN,0.56,2.0,134.0,3.0,0.0,1.0,0.0,support,low
15,NaN,0.36,2.0,137.0,4.0,1.0,0.0,0.0,marketing,medium
16,NaN,0.50,6.0,165.0,3.0,0.0,0.0,0.0,management,medium
17,NaN,0.62,4.0,247.0,4.0,0.0,0.0,0.0,sales,low
18,NaN,0.79,3.0,247.0,3.0,0.0,0.0,0.0,sales,low
19,NaN,0.92,3.0,150.0,2.0,0.0,0.0,0.0,marketing,medium
20,NaN,0.60,7.0,243.0,5.0,0.0,1.0,0.0,technical,medium
21,NaN,0.52,3.0,236.0,3.0,0.0,0.0,0.0,sales,medium
22,NaN,1.00,4.0,225.0,5.0,0.0,1.0,0.0,technical,low
23,NaN,0.62,4.0,252.0,2.0,1.0,0.0,0.0,technical,medium
24,NaN,0.88,3.0,177.0,3.0,0.0,0.0,0.0,sales,low
25,NaN,0.50,5.0,272.0,3.0,0.0,0.0,0.0,sales,low
26,NaN,0.55,3.0,245.0,3.0,0.0,0.0,0.0,sales,medium
27,NaN,0.94,4.0,265.0,3.0,0.0,0.0,0.0,technical,low
28,NaN,0.65,4.0,160.0,2.0,0.0,0.0,0.0,IT,low
29,NaN,0.81,4.0,257.0,2.0,0.0,0.0,0.0,support,low
...,...,...,...,...,...,...,...,...,...,...
14969,0.94,0.73,3.0,154.0,3.0,0.0,0.0,0.0,technical,low
14970,0.41,0.50,6.0,257.0,6.0,1.0,0.0,0.0,support,low
14971,0.10,0.84,5.0,298.0,4.0,0.0,1.0,0.0,IT,low
14972,0.82,0.54,4.0,164.0,3.0,0.0,0.0,0.0,support,low
14973,0.82,0.56,2.0,227.0,5.0,1.0,0.0,0.0,management,high
14974,0.91,0.68,4.0,178.0,3.0,1.0,0.0,0.0,sales,medium
14975,0.87,0.88,3.0,179.0,2.0,0.0,0.0,0.0,sales,medium
14976,0.60,0.49,2.0,194.0,4.0,0.0,0.0,0.0,sales,low
14977,0.98,0.53,4.0,192.0,2.0,1.0,0.0,0.0,sales,low
14978,0.77,0.55,3.0,225.0,3.0,0.0,0.0,0.0,sales,medium
14979,0.40,0.50,2.0,129.0,3.0,0.0,1.0,0.0,IT,medium
14980,0.22,0.54,6.0,169.0,4.0,0.0,0.0,0.0,technical,low
14981,0.68,0.84,3.0,209.0,3.0,0.0,0.0,0.0,sales,high
14982,0.11,0.87,6.0,257.0,4.0,0.0,1.0,0.0,support,medium
14983,0.40,0.48,2.0,155.0,3.0,0.0,1.0,0.0,support,low
14984,0.37,0.50,2.0,141.0,3.0,0.0,1.0,0.0,sales,low
14985,0.57,0.82,4.0,269.0,2.0,0.0,0.0,0.0,technical,medium
14986,1.00,0.85,4.0,156.0,3.0,0.0,0.0,0.0,sales,low
14987,0.75,0.98,2.0,161.0,3.0,0.0,0.0,0.0,product_mng,low
14988,0.55,0.62,5.0,226.0,3.0,0.0,0.0,0.0,IT,medium
14989,0.99,0.71,4.0,199.0,4.0,0.0,0.0,0.0,support,medium
14990,0.65,0.70,3.0,231.0,3.0,0.0,0.0,0.0,sales,medium
14991,0.57,0.82,3.0,149.0,5.0,1.0,0.0,0.0,support,medium
14992,0.45,0.46,2.0,149.0,3.0,0.0,1.0,0.0,sales,low
14993,0.81,0.92,5.0,255.0,4.0,1.0,0.0,0.0,technical,low
14994,0.36,0.97,5.0,151.0,3.0,0.0,0.0,0.0,support,low
14995,0.50,0.68,4.0,274.0,4.0,0.0,0.0,0.0,sales,medium
14996,0.40,0.85,4.0,198.0,2.0,0.0,0.0,0.0,hr,low
14997,0.65,0.76,4.0,193.0,2.0,0.0,0.0,0.0,hr,medium
14998,0.91,0.88,5.0,223.0,3.0,0.0,0.0,0.0,support,low

In [16]:
%timeit imputer.pattern()

1 loop, best of 3: 1.79 s per loop

In [17]:
%timeit imputer.get_pattern(4)

The slowest run took 9.49 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 756 µs per loop

In [36]:
reload(impyte)
imputer = impyte.Imputer(data) # instantiate impyte class
nan_checker = impyte.NanChecker()
pattern_log = impyte.Pattern()
_ = imputer.pattern()
_ = imputer.drop_pattern(4)

In [37]:
#imputer.pattern()

In [38]:
_ = imputer.load_data(data)

In [39]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
10,1,1,1,1,1,1,1,1,1,1,11259
8,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
9,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,1,1,1,NaN,1,1,374
4,1,1,1,1,NaN,1,1,1,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
5,1,1,1,1,1,NaN,1,1,1,1,374
6,1,1,1,1,1,1,NaN,1,1,1,374

In [40]:
_ = imputer.drop_pattern(4)

In [41]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
9,1,1,1,1,1,1,1,1,1,1,11259
7,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
8,1,1,1,1,1,1,1,1,1,NaN,374
6,1,1,1,1,1,1,1,NaN,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
4,1,1,1,1,1,NaN,1,1,1,1,374
5,1,1,1,1,1,1,NaN,1,1,1,374

In [42]:
_ = imputer.drop_pattern(7)

In [43]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
8,1,1,1,1,1,1,1,1,1,1,11259
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
7,1,1,1,1,1,1,1,1,1,NaN,374
6,1,1,1,1,1,1,1,NaN,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
4,1,1,1,1,1,NaN,1,1,1,1,374
5,1,1,1,1,1,1,NaN,1,1,1,374

In [44]:
imputer.impute()

(['satisfaction_level',
  'last_evaluation',
  'number_project',
  'average_montly_hours',
  'time_spend_company',
  'Work_accident',
  'left',
  'promotion_last_5years'],
 ['sales', 'salary'])

In [45]:
data.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
14994,0.52,0.94,3.0,263.0,3.0,0.0,0.0,0.0,product_mng,medium
14995,0.43,0.44,5.0,213.0,3.0,0.0,0.0,0.0,sales,low
14996,0.45,0.49,2.0,134.0,3.0,0.0,1.0,0.0,RandD,medium
14997,0.10,0.90,7.0,281.0,4.0,0.0,1.0,0.0,sales,low
14998,0.54,0.67,2.0,129.0,3.0,1.0,0.0,0.0,sales,low