# Impyte Documentation
This is a first practicle attempt to clarify the usage of `impyte`. It's a collection of easy applicable and reproducible examples that you could use to simplyify your data processing workflow.

## Generating sample data
In order to show some of the features of the library, we'll be using Kaggle's HR data that can be found [here](https://www.kaggle.com/ludobenistant/hr-analytics).

In [1]:
# import library and data set
import impyte
import pandas as pd
from tools.data_prep import remove_random

In [2]:
data = pd.read_csv('data/hr_test.csv')

In [3]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## Add random missing values
In order to show some of the pattern visualization and imputation methods, we need incomplete data sets. To achieve this, we'll be using a helper function that deletes values at random. 25 % of all values from each category will be deleted.

In [4]:
data = remove_random(data, .25)

In [5]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.70,4.0,237.0,6.0,0.0,0.0,0.0,accounting,low
1,NaN,0.51,5.0,221.0,3.0,0.0,0.0,0.0,sales,low
2,NaN,0.82,6.0,266.0,4.0,0.0,1.0,0.0,IT,low
3,NaN,0.74,3.0,227.0,2.0,0.0,0.0,0.0,technical,medium
4,NaN,0.38,4.0,203.0,5.0,0.0,0.0,0.0,sales,low

In [6]:
len(data)

14999

In [7]:
reload(impyte)
imputer = impyte.Imputer() # instantiate impyte class
nan_checker = impyte.NanChecker()
pattern_log = impyte.Pattern()

### Testing rudimentary features
Below is a first trial run of some of the features implemented by impyter and its helper classes.

#### NanChecker.is_nan( )
The NaN detection feature that also enables NaN-value ingestion as parameter values.

In [8]:
# [True, False, False]
print nan_checker.is_nan(["", 'None', 'NaN'])

# [True, True, True]
print nan_checker.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

[True, False, False]
[True, True, True]

#### Pattern.row_nan_pattern( )
This is a core piece to determining which patterns are available. Other methods work with the output of `row_nan_pattern()` to determine unique pattern structures and count these before turning them into readable tables.

In [9]:
# (1, 1, 'NaN', 'NaN')
print pattern_log.row_nan_pattern(['yes', 'no', '', None])

(1, 1, 'NaN', 'NaN')

### Timing some of the functions
Below is a piece of information on efficiency of the functions. This doesn't reflect complexity of the functions, but it will show an runtime estimate for your local machine.

In [10]:
%timeit nan_checker.is_nan(["", 'None', 'NaN'])
%timeit nan_checker.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

100000 loops, best of 3: 4.98 µs per loop
100000 loops, best of 3: 5.01 µs per loop

In [11]:
# Showcase nan_check
%timeit pattern_log.row_nan_pattern(['yes', 'no', '', None])

The slowest run took 4.23 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 8.23 µs per loop

In [12]:
%timeit pattern_log.print_pattern(data)

1 loop, best of 3: 742 ms per loop

In [13]:
%timeit pattern_log.compute_pattern(data)

1 loop, best of 3: 1.77 s per loop

#### Pattern.compute_pattern( )
Feature that computes pattern and returns its pattern structure plus the count of data points for each of these patterns. To get a nice digestible table add `['table']` selector to output.

In [14]:
pattern_log.compute_pattern(data)['table']

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
10,1,1,1,1,1,1,1,1,1,1,11259
8,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
9,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,1,1,1,NaN,1,1,374
4,1,1,1,1,NaN,1,1,1,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
5,1,1,1,1,1,NaN,1,1,1,1,374
6,1,1,1,1,1,1,NaN,1,1,1,374

### Load data into imputer

In [15]:
reload(impyte)
imputer.load_data(data)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.70,4.0,237.0,6.0,0.0,0.0,0.0,accounting,low
1,NaN,0.51,5.0,221.0,3.0,0.0,0.0,0.0,sales,low
2,NaN,0.82,6.0,266.0,4.0,0.0,1.0,0.0,IT,low
3,NaN,0.74,3.0,227.0,2.0,0.0,0.0,0.0,technical,medium
4,NaN,0.38,4.0,203.0,5.0,0.0,0.0,0.0,sales,low
5,NaN,0.99,4.0,214.0,6.0,1.0,0.0,0.0,support,medium
6,NaN,0.46,2.0,143.0,3.0,0.0,1.0,0.0,IT,low
7,NaN,0.62,4.0,127.0,5.0,0.0,0.0,0.0,accounting,low
8,NaN,0.56,3.0,199.0,4.0,0.0,0.0,0.0,sales,low
9,NaN,0.59,5.0,200.0,8.0,1.0,0.0,0.0,sales,low
10,NaN,0.50,2.0,141.0,3.0,1.0,1.0,0.0,technical,low
11,NaN,0.55,3.0,225.0,4.0,1.0,0.0,0.0,sales,medium
12,NaN,0.94,3.0,177.0,3.0,0.0,0.0,0.0,technical,low
13,NaN,0.60,4.0,252.0,3.0,0.0,0.0,0.0,support,low
14,NaN,0.73,3.0,252.0,3.0,0.0,0.0,0.0,technical,high
15,NaN,0.55,2.0,159.0,3.0,0.0,1.0,0.0,support,medium
16,NaN,0.81,3.0,150.0,2.0,0.0,0.0,0.0,support,low
17,NaN,0.79,3.0,201.0,3.0,1.0,0.0,0.0,sales,high
18,NaN,0.58,4.0,131.0,5.0,0.0,0.0,0.0,support,low
19,NaN,0.99,3.0,188.0,3.0,1.0,0.0,0.0,support,medium
20,NaN,0.77,4.0,259.0,2.0,1.0,0.0,1.0,sales,medium
21,NaN,0.59,4.0,139.0,3.0,0.0,1.0,1.0,management,low
22,NaN,0.91,3.0,195.0,3.0,0.0,0.0,0.0,sales,medium
23,NaN,0.62,5.0,186.0,4.0,0.0,0.0,0.0,technical,low
24,NaN,0.91,4.0,252.0,3.0,1.0,0.0,0.0,support,medium
25,NaN,0.66,3.0,178.0,3.0,0.0,0.0,0.0,RandD,high
26,NaN,0.60,3.0,214.0,2.0,0.0,0.0,0.0,sales,low
27,NaN,0.79,3.0,221.0,3.0,0.0,0.0,0.0,product_mng,high
28,NaN,0.50,5.0,99.0,4.0,1.0,0.0,0.0,accounting,low
29,NaN,0.77,3.0,166.0,3.0,0.0,0.0,0.0,IT,medium
...,...,...,...,...,...,...,...,...,...,...
14969,0.84,0.81,4.0,198.0,2.0,0.0,0.0,0.0,hr,medium
14970,0.82,0.79,3.0,160.0,3.0,0.0,0.0,0.0,sales,medium
14971,0.40,0.46,2.0,127.0,3.0,0.0,1.0,0.0,hr,medium
14972,0.72,0.63,4.0,241.0,4.0,1.0,0.0,0.0,marketing,medium
14973,0.84,0.41,6.0,255.0,6.0,1.0,0.0,0.0,sales,medium
14974,0.57,0.49,3.0,159.0,4.0,1.0,0.0,0.0,technical,high
14975,0.69,0.63,4.0,217.0,3.0,0.0,0.0,0.0,technical,medium
14976,0.63,0.91,4.0,252.0,3.0,1.0,0.0,0.0,support,medium
14977,0.86,0.91,5.0,265.0,5.0,0.0,1.0,0.0,IT,low
14978,0.88,0.83,4.0,163.0,3.0,0.0,0.0,0.0,hr,low
14979,0.40,0.47,5.0,173.0,5.0,0.0,0.0,0.0,technical,medium
14980,0.65,0.56,3.0,142.0,3.0,0.0,0.0,0.0,sales,low
14981,0.82,0.74,3.0,229.0,7.0,0.0,0.0,1.0,management,high
14982,0.09,0.93,6.0,255.0,4.0,0.0,1.0,0.0,RandD,medium
14983,0.88,0.66,4.0,133.0,2.0,0.0,0.0,0.0,RandD,medium
14984,0.63,0.90,2.0,242.0,3.0,1.0,0.0,0.0,technical,high
14985,0.76,0.73,4.0,148.0,2.0,1.0,0.0,0.0,hr,low
14986,0.95,0.77,3.0,184.0,4.0,0.0,0.0,0.0,sales,medium
14987,0.63,0.97,4.0,234.0,2.0,0.0,0.0,0.0,technical,medium
14988,0.57,0.69,3.0,154.0,2.0,0.0,0.0,0.0,RandD,low
14989,0.66,0.72,4.0,271.0,3.0,0.0,0.0,0.0,sales,low
14990,0.43,0.53,2.0,150.0,3.0,0.0,1.0,0.0,sales,low
14991,0.10,0.82,6.0,272.0,4.0,0.0,1.0,0.0,technical,low
14992,0.09,0.80,7.0,283.0,5.0,0.0,1.0,0.0,technical,low
14993,0.48,0.43,3.0,96.0,3.0,0.0,0.0,0.0,support,low
14994,0.45,0.57,2.0,158.0,3.0,0.0,1.0,0.0,sales,low
14995,0.55,0.93,4.0,251.0,4.0,1.0,0.0,0.0,RandD,low
14996,0.52,0.52,4.0,168.0,3.0,0.0,0.0,0.0,product_mng,medium
14997,0.41,0.46,2.0,128.0,3.0,0.0,1.0,0.0,accounting,low
14998,0.37,0.57,2.0,157.0,3.0,0.0,1.0,0.0,RandD,low

In [16]:
%timeit imputer.pattern()

1 loop, best of 3: 1.77 s per loop

In [17]:
%timeit imputer.get_pattern(4)

The slowest run took 10.62 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 736 µs per loop

In [18]:
reload(impyte)
imputer = impyte.Imputer(data) # instantiate impyte class
nan_checker = impyte.NanChecker()
pattern_log = impyte.Pattern()
imputer.pattern()
imputer.drop_pattern(4)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.70,4.0,237.0,6.0,0.0,0.0,0.0,accounting,low
1,NaN,0.51,5.0,221.0,3.0,0.0,0.0,0.0,sales,low
2,NaN,0.82,6.0,266.0,4.0,0.0,1.0,0.0,IT,low
3,NaN,0.74,3.0,227.0,2.0,0.0,0.0,0.0,technical,medium
4,NaN,0.38,4.0,203.0,5.0,0.0,0.0,0.0,sales,low
5,NaN,0.99,4.0,214.0,6.0,1.0,0.0,0.0,support,medium
6,NaN,0.46,2.0,143.0,3.0,0.0,1.0,0.0,IT,low
7,NaN,0.62,4.0,127.0,5.0,0.0,0.0,0.0,accounting,low
8,NaN,0.56,3.0,199.0,4.0,0.0,0.0,0.0,sales,low
9,NaN,0.59,5.0,200.0,8.0,1.0,0.0,0.0,sales,low
10,NaN,0.50,2.0,141.0,3.0,1.0,1.0,0.0,technical,low
11,NaN,0.55,3.0,225.0,4.0,1.0,0.0,0.0,sales,medium
12,NaN,0.94,3.0,177.0,3.0,0.0,0.0,0.0,technical,low
13,NaN,0.60,4.0,252.0,3.0,0.0,0.0,0.0,support,low
14,NaN,0.73,3.0,252.0,3.0,0.0,0.0,0.0,technical,high
15,NaN,0.55,2.0,159.0,3.0,0.0,1.0,0.0,support,medium
16,NaN,0.81,3.0,150.0,2.0,0.0,0.0,0.0,support,low
17,NaN,0.79,3.0,201.0,3.0,1.0,0.0,0.0,sales,high
18,NaN,0.58,4.0,131.0,5.0,0.0,0.0,0.0,support,low
19,NaN,0.99,3.0,188.0,3.0,1.0,0.0,0.0,support,medium
20,NaN,0.77,4.0,259.0,2.0,1.0,0.0,1.0,sales,medium
21,NaN,0.59,4.0,139.0,3.0,0.0,1.0,1.0,management,low
22,NaN,0.91,3.0,195.0,3.0,0.0,0.0,0.0,sales,medium
23,NaN,0.62,5.0,186.0,4.0,0.0,0.0,0.0,technical,low
24,NaN,0.91,4.0,252.0,3.0,1.0,0.0,0.0,support,medium
25,NaN,0.66,3.0,178.0,3.0,0.0,0.0,0.0,RandD,high
26,NaN,0.60,3.0,214.0,2.0,0.0,0.0,0.0,sales,low
27,NaN,0.79,3.0,221.0,3.0,0.0,0.0,0.0,product_mng,high
28,NaN,0.50,5.0,99.0,4.0,1.0,0.0,0.0,accounting,low
29,NaN,0.77,3.0,166.0,3.0,0.0,0.0,0.0,IT,medium
...,...,...,...,...,...,...,...,...,...,...
14969,0.84,0.81,4.0,198.0,2.0,0.0,0.0,0.0,hr,medium
14970,0.82,0.79,3.0,160.0,3.0,0.0,0.0,0.0,sales,medium
14971,0.40,0.46,2.0,127.0,3.0,0.0,1.0,0.0,hr,medium
14972,0.72,0.63,4.0,241.0,4.0,1.0,0.0,0.0,marketing,medium
14973,0.84,0.41,6.0,255.0,6.0,1.0,0.0,0.0,sales,medium
14974,0.57,0.49,3.0,159.0,4.0,1.0,0.0,0.0,technical,high
14975,0.69,0.63,4.0,217.0,3.0,0.0,0.0,0.0,technical,medium
14976,0.63,0.91,4.0,252.0,3.0,1.0,0.0,0.0,support,medium
14977,0.86,0.91,5.0,265.0,5.0,0.0,1.0,0.0,IT,low
14978,0.88,0.83,4.0,163.0,3.0,0.0,0.0,0.0,hr,low
14979,0.40,0.47,5.0,173.0,5.0,0.0,0.0,0.0,technical,medium
14980,0.65,0.56,3.0,142.0,3.0,0.0,0.0,0.0,sales,low
14981,0.82,0.74,3.0,229.0,7.0,0.0,0.0,1.0,management,high
14982,0.09,0.93,6.0,255.0,4.0,0.0,1.0,0.0,RandD,medium
14983,0.88,0.66,4.0,133.0,2.0,0.0,0.0,0.0,RandD,medium
14984,0.63,0.90,2.0,242.0,3.0,1.0,0.0,0.0,technical,high
14985,0.76,0.73,4.0,148.0,2.0,1.0,0.0,0.0,hr,low
14986,0.95,0.77,3.0,184.0,4.0,0.0,0.0,0.0,sales,medium
14987,0.63,0.97,4.0,234.0,2.0,0.0,0.0,0.0,technical,medium
14988,0.57,0.69,3.0,154.0,2.0,0.0,0.0,0.0,RandD,low
14989,0.66,0.72,4.0,271.0,3.0,0.0,0.0,0.0,sales,low
14990,0.43,0.53,2.0,150.0,3.0,0.0,1.0,0.0,sales,low
14991,0.10,0.82,6.0,272.0,4.0,0.0,1.0,0.0,technical,low
14992,0.09,0.80,7.0,283.0,5.0,0.0,1.0,0.0,technical,low
14993,0.48,0.43,3.0,96.0,3.0,0.0,0.0,0.0,support,low
14994,0.45,0.57,2.0,158.0,3.0,0.0,1.0,0.0,sales,low
14995,0.55,0.93,4.0,251.0,4.0,1.0,0.0,0.0,RandD,low
14996,0.52,0.52,4.0,168.0,3.0,0.0,0.0,0.0,product_mng,medium
14997,0.41,0.46,2.0,128.0,3.0,0.0,1.0,0.0,accounting,low
14998,0.37,0.57,2.0,157.0,3.0,0.0,1.0,0.0,RandD,low

In [19]:
#imputer.pattern()

In [20]:
imputer.load_data(data)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.70,4.0,237.0,6.0,0.0,0.0,0.0,accounting,low
1,NaN,0.51,5.0,221.0,3.0,0.0,0.0,0.0,sales,low
2,NaN,0.82,6.0,266.0,4.0,0.0,1.0,0.0,IT,low
3,NaN,0.74,3.0,227.0,2.0,0.0,0.0,0.0,technical,medium
4,NaN,0.38,4.0,203.0,5.0,0.0,0.0,0.0,sales,low
5,NaN,0.99,4.0,214.0,6.0,1.0,0.0,0.0,support,medium
6,NaN,0.46,2.0,143.0,3.0,0.0,1.0,0.0,IT,low
7,NaN,0.62,4.0,127.0,5.0,0.0,0.0,0.0,accounting,low
8,NaN,0.56,3.0,199.0,4.0,0.0,0.0,0.0,sales,low
9,NaN,0.59,5.0,200.0,8.0,1.0,0.0,0.0,sales,low
10,NaN,0.50,2.0,141.0,3.0,1.0,1.0,0.0,technical,low
11,NaN,0.55,3.0,225.0,4.0,1.0,0.0,0.0,sales,medium
12,NaN,0.94,3.0,177.0,3.0,0.0,0.0,0.0,technical,low
13,NaN,0.60,4.0,252.0,3.0,0.0,0.0,0.0,support,low
14,NaN,0.73,3.0,252.0,3.0,0.0,0.0,0.0,technical,high
15,NaN,0.55,2.0,159.0,3.0,0.0,1.0,0.0,support,medium
16,NaN,0.81,3.0,150.0,2.0,0.0,0.0,0.0,support,low
17,NaN,0.79,3.0,201.0,3.0,1.0,0.0,0.0,sales,high
18,NaN,0.58,4.0,131.0,5.0,0.0,0.0,0.0,support,low
19,NaN,0.99,3.0,188.0,3.0,1.0,0.0,0.0,support,medium
20,NaN,0.77,4.0,259.0,2.0,1.0,0.0,1.0,sales,medium
21,NaN,0.59,4.0,139.0,3.0,0.0,1.0,1.0,management,low
22,NaN,0.91,3.0,195.0,3.0,0.0,0.0,0.0,sales,medium
23,NaN,0.62,5.0,186.0,4.0,0.0,0.0,0.0,technical,low
24,NaN,0.91,4.0,252.0,3.0,1.0,0.0,0.0,support,medium
25,NaN,0.66,3.0,178.0,3.0,0.0,0.0,0.0,RandD,high
26,NaN,0.60,3.0,214.0,2.0,0.0,0.0,0.0,sales,low
27,NaN,0.79,3.0,221.0,3.0,0.0,0.0,0.0,product_mng,high
28,NaN,0.50,5.0,99.0,4.0,1.0,0.0,0.0,accounting,low
29,NaN,0.77,3.0,166.0,3.0,0.0,0.0,0.0,IT,medium
...,...,...,...,...,...,...,...,...,...,...
14969,0.84,0.81,4.0,198.0,2.0,0.0,0.0,0.0,hr,medium
14970,0.82,0.79,3.0,160.0,3.0,0.0,0.0,0.0,sales,medium
14971,0.40,0.46,2.0,127.0,3.0,0.0,1.0,0.0,hr,medium
14972,0.72,0.63,4.0,241.0,4.0,1.0,0.0,0.0,marketing,medium
14973,0.84,0.41,6.0,255.0,6.0,1.0,0.0,0.0,sales,medium
14974,0.57,0.49,3.0,159.0,4.0,1.0,0.0,0.0,technical,high
14975,0.69,0.63,4.0,217.0,3.0,0.0,0.0,0.0,technical,medium
14976,0.63,0.91,4.0,252.0,3.0,1.0,0.0,0.0,support,medium
14977,0.86,0.91,5.0,265.0,5.0,0.0,1.0,0.0,IT,low
14978,0.88,0.83,4.0,163.0,3.0,0.0,0.0,0.0,hr,low
14979,0.40,0.47,5.0,173.0,5.0,0.0,0.0,0.0,technical,medium
14980,0.65,0.56,3.0,142.0,3.0,0.0,0.0,0.0,sales,low
14981,0.82,0.74,3.0,229.0,7.0,0.0,0.0,1.0,management,high
14982,0.09,0.93,6.0,255.0,4.0,0.0,1.0,0.0,RandD,medium
14983,0.88,0.66,4.0,133.0,2.0,0.0,0.0,0.0,RandD,medium
14984,0.63,0.90,2.0,242.0,3.0,1.0,0.0,0.0,technical,high
14985,0.76,0.73,4.0,148.0,2.0,1.0,0.0,0.0,hr,low
14986,0.95,0.77,3.0,184.0,4.0,0.0,0.0,0.0,sales,medium
14987,0.63,0.97,4.0,234.0,2.0,0.0,0.0,0.0,technical,medium
14988,0.57,0.69,3.0,154.0,2.0,0.0,0.0,0.0,RandD,low
14989,0.66,0.72,4.0,271.0,3.0,0.0,0.0,0.0,sales,low
14990,0.43,0.53,2.0,150.0,3.0,0.0,1.0,0.0,sales,low
14991,0.10,0.82,6.0,272.0,4.0,0.0,1.0,0.0,technical,low
14992,0.09,0.80,7.0,283.0,5.0,0.0,1.0,0.0,technical,low
14993,0.48,0.43,3.0,96.0,3.0,0.0,0.0,0.0,support,low
14994,0.45,0.57,2.0,158.0,3.0,0.0,1.0,0.0,sales,low
14995,0.55,0.93,4.0,251.0,4.0,1.0,0.0,0.0,RandD,low
14996,0.52,0.52,4.0,168.0,3.0,0.0,0.0,0.0,product_mng,medium
14997,0.41,0.46,2.0,128.0,3.0,0.0,1.0,0.0,accounting,low
14998,0.37,0.57,2.0,157.0,3.0,0.0,1.0,0.0,RandD,low

In [21]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
10,1,1,1,1,1,1,1,1,1,1,11259
8,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
9,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,1,1,1,NaN,1,1,374
4,1,1,1,1,NaN,1,1,1,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
5,1,1,1,1,1,NaN,1,1,1,1,374
6,1,1,1,1,1,1,NaN,1,1,1,374

In [22]:
imputer.drop_pattern(4)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.70,4.0,237.0,6.0,0.0,0.0,0.0,accounting,low
1,NaN,0.51,5.0,221.0,3.0,0.0,0.0,0.0,sales,low
2,NaN,0.82,6.0,266.0,4.0,0.0,1.0,0.0,IT,low
3,NaN,0.74,3.0,227.0,2.0,0.0,0.0,0.0,technical,medium
4,NaN,0.38,4.0,203.0,5.0,0.0,0.0,0.0,sales,low
5,NaN,0.99,4.0,214.0,6.0,1.0,0.0,0.0,support,medium
6,NaN,0.46,2.0,143.0,3.0,0.0,1.0,0.0,IT,low
7,NaN,0.62,4.0,127.0,5.0,0.0,0.0,0.0,accounting,low
8,NaN,0.56,3.0,199.0,4.0,0.0,0.0,0.0,sales,low
9,NaN,0.59,5.0,200.0,8.0,1.0,0.0,0.0,sales,low
10,NaN,0.50,2.0,141.0,3.0,1.0,1.0,0.0,technical,low
11,NaN,0.55,3.0,225.0,4.0,1.0,0.0,0.0,sales,medium
12,NaN,0.94,3.0,177.0,3.0,0.0,0.0,0.0,technical,low
13,NaN,0.60,4.0,252.0,3.0,0.0,0.0,0.0,support,low
14,NaN,0.73,3.0,252.0,3.0,0.0,0.0,0.0,technical,high
15,NaN,0.55,2.0,159.0,3.0,0.0,1.0,0.0,support,medium
16,NaN,0.81,3.0,150.0,2.0,0.0,0.0,0.0,support,low
17,NaN,0.79,3.0,201.0,3.0,1.0,0.0,0.0,sales,high
18,NaN,0.58,4.0,131.0,5.0,0.0,0.0,0.0,support,low
19,NaN,0.99,3.0,188.0,3.0,1.0,0.0,0.0,support,medium
20,NaN,0.77,4.0,259.0,2.0,1.0,0.0,1.0,sales,medium
21,NaN,0.59,4.0,139.0,3.0,0.0,1.0,1.0,management,low
22,NaN,0.91,3.0,195.0,3.0,0.0,0.0,0.0,sales,medium
23,NaN,0.62,5.0,186.0,4.0,0.0,0.0,0.0,technical,low
24,NaN,0.91,4.0,252.0,3.0,1.0,0.0,0.0,support,medium
25,NaN,0.66,3.0,178.0,3.0,0.0,0.0,0.0,RandD,high
26,NaN,0.60,3.0,214.0,2.0,0.0,0.0,0.0,sales,low
27,NaN,0.79,3.0,221.0,3.0,0.0,0.0,0.0,product_mng,high
28,NaN,0.50,5.0,99.0,4.0,1.0,0.0,0.0,accounting,low
29,NaN,0.77,3.0,166.0,3.0,0.0,0.0,0.0,IT,medium
...,...,...,...,...,...,...,...,...,...,...
14969,0.84,0.81,4.0,198.0,2.0,0.0,0.0,0.0,hr,medium
14970,0.82,0.79,3.0,160.0,3.0,0.0,0.0,0.0,sales,medium
14971,0.40,0.46,2.0,127.0,3.0,0.0,1.0,0.0,hr,medium
14972,0.72,0.63,4.0,241.0,4.0,1.0,0.0,0.0,marketing,medium
14973,0.84,0.41,6.0,255.0,6.0,1.0,0.0,0.0,sales,medium
14974,0.57,0.49,3.0,159.0,4.0,1.0,0.0,0.0,technical,high
14975,0.69,0.63,4.0,217.0,3.0,0.0,0.0,0.0,technical,medium
14976,0.63,0.91,4.0,252.0,3.0,1.0,0.0,0.0,support,medium
14977,0.86,0.91,5.0,265.0,5.0,0.0,1.0,0.0,IT,low
14978,0.88,0.83,4.0,163.0,3.0,0.0,0.0,0.0,hr,low
14979,0.40,0.47,5.0,173.0,5.0,0.0,0.0,0.0,technical,medium
14980,0.65,0.56,3.0,142.0,3.0,0.0,0.0,0.0,sales,low
14981,0.82,0.74,3.0,229.0,7.0,0.0,0.0,1.0,management,high
14982,0.09,0.93,6.0,255.0,4.0,0.0,1.0,0.0,RandD,medium
14983,0.88,0.66,4.0,133.0,2.0,0.0,0.0,0.0,RandD,medium
14984,0.63,0.90,2.0,242.0,3.0,1.0,0.0,0.0,technical,high
14985,0.76,0.73,4.0,148.0,2.0,1.0,0.0,0.0,hr,low
14986,0.95,0.77,3.0,184.0,4.0,0.0,0.0,0.0,sales,medium
14987,0.63,0.97,4.0,234.0,2.0,0.0,0.0,0.0,technical,medium
14988,0.57,0.69,3.0,154.0,2.0,0.0,0.0,0.0,RandD,low
14989,0.66,0.72,4.0,271.0,3.0,0.0,0.0,0.0,sales,low
14990,0.43,0.53,2.0,150.0,3.0,0.0,1.0,0.0,sales,low
14991,0.10,0.82,6.0,272.0,4.0,0.0,1.0,0.0,technical,low
14992,0.09,0.80,7.0,283.0,5.0,0.0,1.0,0.0,technical,low
14993,0.48,0.43,3.0,96.0,3.0,0.0,0.0,0.0,support,low
14994,0.45,0.57,2.0,158.0,3.0,0.0,1.0,0.0,sales,low
14995,0.55,0.93,4.0,251.0,4.0,1.0,0.0,0.0,RandD,low
14996,0.52,0.52,4.0,168.0,3.0,0.0,0.0,0.0,product_mng,medium
14997,0.41,0.46,2.0,128.0,3.0,0.0,1.0,0.0,accounting,low
14998,0.37,0.57,2.0,157.0,3.0,0.0,1.0,0.0,RandD,low

In [23]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
9,1,1,1,1,1,1,1,1,1,1,11259
7,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
8,1,1,1,1,1,1,1,1,1,NaN,374
6,1,1,1,1,1,1,1,NaN,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
4,1,1,1,1,1,NaN,1,1,1,1,374
5,1,1,1,1,1,1,NaN,1,1,1,374

In [24]:
imputer.drop_pattern(7)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.70,4.0,237.0,6.0,0.0,0.0,0.0,accounting,low
1,NaN,0.51,5.0,221.0,3.0,0.0,0.0,0.0,sales,low
2,NaN,0.82,6.0,266.0,4.0,0.0,1.0,0.0,IT,low
3,NaN,0.74,3.0,227.0,2.0,0.0,0.0,0.0,technical,medium
4,NaN,0.38,4.0,203.0,5.0,0.0,0.0,0.0,sales,low
5,NaN,0.99,4.0,214.0,6.0,1.0,0.0,0.0,support,medium
6,NaN,0.46,2.0,143.0,3.0,0.0,1.0,0.0,IT,low
7,NaN,0.62,4.0,127.0,5.0,0.0,0.0,0.0,accounting,low
8,NaN,0.56,3.0,199.0,4.0,0.0,0.0,0.0,sales,low
9,NaN,0.59,5.0,200.0,8.0,1.0,0.0,0.0,sales,low
10,NaN,0.50,2.0,141.0,3.0,1.0,1.0,0.0,technical,low
11,NaN,0.55,3.0,225.0,4.0,1.0,0.0,0.0,sales,medium
12,NaN,0.94,3.0,177.0,3.0,0.0,0.0,0.0,technical,low
13,NaN,0.60,4.0,252.0,3.0,0.0,0.0,0.0,support,low
14,NaN,0.73,3.0,252.0,3.0,0.0,0.0,0.0,technical,high
15,NaN,0.55,2.0,159.0,3.0,0.0,1.0,0.0,support,medium
16,NaN,0.81,3.0,150.0,2.0,0.0,0.0,0.0,support,low
17,NaN,0.79,3.0,201.0,3.0,1.0,0.0,0.0,sales,high
18,NaN,0.58,4.0,131.0,5.0,0.0,0.0,0.0,support,low
19,NaN,0.99,3.0,188.0,3.0,1.0,0.0,0.0,support,medium
20,NaN,0.77,4.0,259.0,2.0,1.0,0.0,1.0,sales,medium
21,NaN,0.59,4.0,139.0,3.0,0.0,1.0,1.0,management,low
22,NaN,0.91,3.0,195.0,3.0,0.0,0.0,0.0,sales,medium
23,NaN,0.62,5.0,186.0,4.0,0.0,0.0,0.0,technical,low
24,NaN,0.91,4.0,252.0,3.0,1.0,0.0,0.0,support,medium
25,NaN,0.66,3.0,178.0,3.0,0.0,0.0,0.0,RandD,high
26,NaN,0.60,3.0,214.0,2.0,0.0,0.0,0.0,sales,low
27,NaN,0.79,3.0,221.0,3.0,0.0,0.0,0.0,product_mng,high
28,NaN,0.50,5.0,99.0,4.0,1.0,0.0,0.0,accounting,low
29,NaN,0.77,3.0,166.0,3.0,0.0,0.0,0.0,IT,medium
...,...,...,...,...,...,...,...,...,...,...
14969,0.84,0.81,4.0,198.0,2.0,0.0,0.0,0.0,hr,medium
14970,0.82,0.79,3.0,160.0,3.0,0.0,0.0,0.0,sales,medium
14971,0.40,0.46,2.0,127.0,3.0,0.0,1.0,0.0,hr,medium
14972,0.72,0.63,4.0,241.0,4.0,1.0,0.0,0.0,marketing,medium
14973,0.84,0.41,6.0,255.0,6.0,1.0,0.0,0.0,sales,medium
14974,0.57,0.49,3.0,159.0,4.0,1.0,0.0,0.0,technical,high
14975,0.69,0.63,4.0,217.0,3.0,0.0,0.0,0.0,technical,medium
14976,0.63,0.91,4.0,252.0,3.0,1.0,0.0,0.0,support,medium
14977,0.86,0.91,5.0,265.0,5.0,0.0,1.0,0.0,IT,low
14978,0.88,0.83,4.0,163.0,3.0,0.0,0.0,0.0,hr,low
14979,0.40,0.47,5.0,173.0,5.0,0.0,0.0,0.0,technical,medium
14980,0.65,0.56,3.0,142.0,3.0,0.0,0.0,0.0,sales,low
14981,0.82,0.74,3.0,229.0,7.0,0.0,0.0,1.0,management,high
14982,0.09,0.93,6.0,255.0,4.0,0.0,1.0,0.0,RandD,medium
14983,0.88,0.66,4.0,133.0,2.0,0.0,0.0,0.0,RandD,medium
14984,0.63,0.90,2.0,242.0,3.0,1.0,0.0,0.0,technical,high
14985,0.76,0.73,4.0,148.0,2.0,1.0,0.0,0.0,hr,low
14986,0.95,0.77,3.0,184.0,4.0,0.0,0.0,0.0,sales,medium
14987,0.63,0.97,4.0,234.0,2.0,0.0,0.0,0.0,technical,medium
14988,0.57,0.69,3.0,154.0,2.0,0.0,0.0,0.0,RandD,low
14989,0.66,0.72,4.0,271.0,3.0,0.0,0.0,0.0,sales,low
14990,0.43,0.53,2.0,150.0,3.0,0.0,1.0,0.0,sales,low
14991,0.10,0.82,6.0,272.0,4.0,0.0,1.0,0.0,technical,low
14992,0.09,0.80,7.0,283.0,5.0,0.0,1.0,0.0,technical,low
14993,0.48,0.43,3.0,96.0,3.0,0.0,0.0,0.0,support,low
14994,0.45,0.57,2.0,158.0,3.0,0.0,1.0,0.0,sales,low
14995,0.55,0.93,4.0,251.0,4.0,1.0,0.0,0.0,RandD,low
14996,0.52,0.52,4.0,168.0,3.0,0.0,0.0,0.0,product_mng,medium
14997,0.41,0.46,2.0,128.0,3.0,0.0,1.0,0.0,accounting,low
14998,0.37,0.57,2.0,157.0,3.0,0.0,1.0,0.0,RandD,low

In [25]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
8,1,1,1,1,1,1,1,1,1,1,11259
3,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
7,1,1,1,1,1,1,1,1,1,NaN,374
6,1,1,1,1,1,1,1,NaN,1,1,374
0,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
4,1,1,1,1,1,NaN,1,1,1,1,374
5,1,1,1,1,1,1,NaN,1,1,1,374

In [26]:
imputer.impute()

{'continuous': ['satisfaction_level',
  'last_evaluation',
  'number_project',
  'average_montly_hours',
  'time_spend_company',
  'Work_accident',
  'left',
  'promotion_last_5years'],
 'discrete': ['sales', 'salary']}

In [28]:
data.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
14994,0.45,0.57,2.0,158.0,3.0,0.0,1.0,0.0,sales,low
14995,0.55,0.93,4.0,251.0,4.0,1.0,0.0,0.0,RandD,low
14996,0.52,0.52,4.0,168.0,3.0,0.0,0.0,0.0,product_mng,medium
14997,0.41,0.46,2.0,128.0,3.0,0.0,1.0,0.0,accounting,low
14998,0.37,0.57,2.0,157.0,3.0,0.0,1.0,0.0,RandD,low