In [22]:
import impyte
import pandas as pd
from tools.data_prep import remove_random

In [23]:
data = pd.read_csv('data/hr_test.csv')

In [24]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [25]:
data = remove_random(data, .25)

In [26]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.70,3.0,178.0,3.0,1.0,0.0,0.0,technical,low
1,NaN,0.54,2.0,151.0,3.0,0.0,1.0,0.0,management,low
2,NaN,0.52,4.0,161.0,7.0,0.0,0.0,0.0,management,high
3,NaN,0.44,4.0,166.0,4.0,1.0,0.0,0.0,support,low
4,NaN,0.59,4.0,216.0,3.0,0.0,0.0,0.0,accounting,low

In [43]:
imputer = impyte.Imputer()

In [44]:
print imputer.is_nan(["", 'None', 'NaN'])
print imputer.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

[True, False, False]
[True, True, True]

In [45]:
reload(impyte)

In [46]:
# Showcase nan_check
imputer.row_nan_pattern(['yes', 'no', '', None])

(1, 1, 'NaN', 'NaN')

In [57]:
from collections import Counter
Counter(data.apply(imputer.row_nan_pattern, axis=1))

Counter({(1, 1, 1, 1, 1, 1, 1, 1, 1, 1): 11259,
         (1, 1, 1, 1, 1, 1, 1, 1, 1, 'NaN'): 374,
         (1, 1, 1, 1, 1, 1, 1, 1, 'NaN', 1): 374,
         (1, 1, 1, 1, 1, 1, 1, 'NaN', 1, 1): 374,
         (1, 1, 1, 1, 1, 1, 'NaN', 1, 1, 1): 374,
         (1, 1, 1, 1, 1, 'NaN', 1, 1, 1, 1): 374,
         (1, 1, 1, 1, 'NaN', 1, 1, 1, 1, 1): 374,
         (1, 1, 1, 'NaN', 1, 1, 1, 1, 1, 1): 374,
         (1, 1, 'NaN', 1, 1, 1, 1, 1, 1, 1): 374,
         (1, 'NaN', 1, 1, 1, 1, 1, 1, 1, 1): 374,
         ('NaN', 1, 1, 1, 1, 1, 1, 1, 1, 1): 374})