In [31]:
import impyte
reload(impyte)
import pandas as pd
from tools.data_prep import remove_random

In [32]:
data = pd.read_csv('data/hr_test.csv')

In [33]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [34]:
data = remove_random(data, .25)

In [35]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.60,3.0,205.0,6.0,1.0,0.0,0.0,sales,low
1,NaN,0.45,2.0,140.0,3.0,0.0,1.0,0.0,sales,low
2,NaN,0.83,4.0,217.0,6.0,0.0,1.0,0.0,support,medium
3,NaN,0.78,3.0,264.0,4.0,0.0,0.0,0.0,accounting,low
4,NaN,0.62,3.0,169.0,2.0,0.0,0.0,0.0,sales,medium

In [56]:
imputer = impyte.Imputer()

In [48]:
%timeit imputer.is_nan(["", 'None', 'NaN'])
%timeit imputer.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

The slowest run took 5.13 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 5.25 µs per loop
The slowest run took 4.48 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 5.59 µs per loop

In [49]:
reload(impyte)

In [50]:
nan_checker = impyte.NanChecker()
pattern_log = impyte.PatternLogger()

In [51]:
# Showcase nan_check
%timeit nan_checker.row_nan_pattern(['yes', 'no', '', None])

The slowest run took 4.35 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 8.5 µs per loop

In [53]:
%timeit pattern_log.print_pattern(data)

1 loop, best of 3: 796 ms per loop

In [54]:
pattern_log.print_pattern(data)

Counter({(1, 1, 1, 1, 1, 1, 1, 1, 1, 1): 11259,
         (1, 1, 1, 1, 1, 1, 1, 1, 1, 'NaN'): 374,
         (1, 1, 1, 1, 1, 1, 1, 1, 'NaN', 1): 374,
         (1, 1, 1, 1, 1, 1, 1, 'NaN', 1, 1): 374,
         (1, 1, 1, 1, 1, 1, 'NaN', 1, 1, 1): 374,
         (1, 1, 1, 1, 1, 'NaN', 1, 1, 1, 1): 374,
         (1, 1, 1, 1, 'NaN', 1, 1, 1, 1, 1): 374,
         (1, 1, 1, 'NaN', 1, 1, 1, 1, 1, 1): 374,
         (1, 1, 'NaN', 1, 1, 1, 1, 1, 1, 1): 374,
         (1, 'NaN', 1, 1, 1, 1, 1, 1, 1, 1): 374,
         ('NaN', 1, 1, 1, 1, 1, 1, 1, 1, 1): 374})

In [57]:
imputer.print_pattern(data)

Counter({(1, 1, 1, 1, 1, 1, 1, 1, 1, 1): 11259,
         (1, 1, 1, 1, 1, 1, 1, 1, 1, 'NaN'): 374,
         (1, 1, 1, 1, 1, 1, 1, 1, 'NaN', 1): 374,
         (1, 1, 1, 1, 1, 1, 1, 'NaN', 1, 1): 374,
         (1, 1, 1, 1, 1, 1, 'NaN', 1, 1, 1): 374,
         (1, 1, 1, 1, 1, 'NaN', 1, 1, 1, 1): 374,
         (1, 1, 1, 1, 'NaN', 1, 1, 1, 1, 1): 374,
         (1, 1, 1, 'NaN', 1, 1, 1, 1, 1, 1): 374,
         (1, 1, 'NaN', 1, 1, 1, 1, 1, 1, 1): 374,
         (1, 'NaN', 1, 1, 1, 1, 1, 1, 1, 1): 374,
         ('NaN', 1, 1, 1, 1, 1, 1, 1, 1, 1): 374})

In [11]:
a = [[1,2,3],[4,5,6],[7,8,9]]

In [17]:
zip(*a[::-1])

[(7, 4, 1), (8, 5, 2), (9, 6, 3)]