# Impyte Documentation
This is a first practicle attempt to clarify the usage of `impyte`. It's a collection of easy applicable and reproducible examples that you could use to simplyify your data processing workflow.

## Generating sample data
In order to show some of the features of the library, we'll be using Kaggle's HR data that can be found [here](https://www.kaggle.com/ludobenistant/hr-analytics).

In [1]:
# import library and data set
import impyte
import pandas as pd
from tools.data_prep import remove_random

In [2]:
data = pd.read_csv('data/hr_test.csv')

In [3]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## Add random missing values
In order to show some of the pattern visualization and imputation methods, we need incomplete data sets. To achieve this, we'll be using a helper function that deletes values at random. 25 % of all values from each category will be deleted.

In [4]:
data = remove_random(data, .25)

In [5]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.91,7.0,297.0,4.0,0.0,1.0,0.0,technical,low
1,NaN,0.88,5.0,204.0,5.0,0.0,0.0,0.0,sales,low
2,NaN,0.59,4.0,250.0,2.0,0.0,0.0,0.0,support,low
3,NaN,0.64,3.0,183.0,3.0,0.0,0.0,0.0,hr,medium
4,NaN,0.66,6.0,174.0,3.0,0.0,0.0,0.0,sales,medium

In [6]:
len(data)

14999

In [7]:
reload(impyte)
imputer = impyte.Imputer() # instantiate impyte class
nan_checker = impyte.NanChecker()
pattern_log = impyte.Pattern()

### Timing some of the functions
Below is a piece of information on efficiency of the functions. This doesn't reflect complexity of the functions, but it will show an runtime estimate for your local machine.

In [8]:
%timeit nan_checker.is_nan(["", 'None', 'NaN'])
%timeit nan_checker.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

The slowest run took 4.31 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 4.87 µs per loop
100000 loops, best of 3: 5.92 µs per loop

In [9]:
# Showcase nan_check
%timeit pattern_log.row_nan_pattern(['yes', 'no', '', None])

100000 loops, best of 3: 8.4 µs per loop

In [74]:
%timeit pattern_log.print_pattern(data)

1 loop, best of 3: 1.45 s per loop

In [75]:
%timeit pattern_log.compute_pattern(data)

1 loop, best of 3: 3.46 s per loop

In [76]:
pattern_log.compute_pattern(data)['table']

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
8,NaN,1,1,1,1,1,1,1,1,1,374
1,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
3,1,1,1,1,1,1,1,1,1,NaN,374
9,1,1,1,1,NaN,1,1,1,1,1,374
7,1,1,1,1,1,1,1,1,NaN,1,374
4,1,NaN,1,1,1,1,1,1,1,1,374
5,1,1,1,1,1,NaN,1,1,1,1,374
10,1,1,1,1,1,1,NaN,1,1,1,374
6,1,1,1,1,1,1,1,NaN,1,1,374

### Load data into imputer

In [85]:
reload(impyte)
imputer.load_data(data)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.72,1.00,4.0,169.0,3.0,0.0,1.0,0.0,sales,medium
1,0.92,1.00,3.0,212.0,2.0,0.0,0.0,0.0,support,low
2,0.72,1.00,4.0,NaN,5.0,0.0,1.0,0.0,sales,low
3,0.50,0.90,5.0,226.0,2.0,0.0,0.0,0.0,management,high
4,0.53,0.92,3.0,199.0,2.0,0.0,0.0,0.0,hr,medium
5,0.49,0.67,4.0,185.0,2.0,0.0,0.0,0.0,sales,low
6,0.53,0.45,4.0,180.0,3.0,0.0,0.0,0.0,technical,medium
7,0.21,0.53,3.0,229.0,5.0,0.0,0.0,0.0,accounting,medium
8,0.73,0.60,4.0,222.0,3.0,0.0,0.0,0.0,technical,medium
9,0.49,0.95,4.0,156.0,2.0,0.0,0.0,0.0,technical,medium
10,0.63,0.62,NaN,212.0,6.0,0.0,0.0,0.0,sales,medium
11,0.78,0.95,3.0,270.0,2.0,0.0,0.0,0.0,sales,None
12,0.38,0.50,2.0,140.0,3.0,0.0,1.0,0.0,sales,medium
13,0.22,0.62,3.0,180.0,3.0,0.0,0.0,0.0,support,low
14,0.34,0.65,2.0,165.0,4.0,0.0,0.0,0.0,product_mng,low
15,0.95,NaN,4.0,150.0,2.0,0.0,0.0,0.0,management,low
16,0.13,0.78,6.0,152.0,2.0,0.0,1.0,0.0,support,low
17,0.22,0.53,5.0,160.0,4.0,1.0,0.0,0.0,sales,medium
18,0.09,0.96,6.0,268.0,4.0,NaN,1.0,0.0,technical,medium
19,0.11,0.90,7.0,245.0,4.0,0.0,1.0,0.0,RandD,medium
20,0.48,0.50,5.0,142.0,4.0,0.0,0.0,NaN,IT,medium
21,0.83,0.86,3.0,165.0,3.0,0.0,0.0,0.0,sales,low
22,0.57,0.87,4.0,171.0,2.0,0.0,0.0,0.0,support,medium
23,0.36,0.54,2.0,153.0,3.0,0.0,1.0,0.0,accounting,medium
24,0.90,0.55,3.0,260.0,3.0,0.0,0.0,0.0,sales,medium
25,0.78,0.54,4.0,102.0,3.0,0.0,0.0,0.0,sales,low
26,0.77,0.93,3.0,227.0,3.0,0.0,0.0,0.0,management,high
27,0.91,0.80,4.0,181.0,3.0,0.0,0.0,0.0,sales,low
28,0.36,0.57,2.0,144.0,3.0,0.0,1.0,0.0,None,low
29,0.40,NaN,2.0,144.0,3.0,0.0,1.0,0.0,RandD,low
...,...,...,...,...,...,...,...,...,...,...
14969,0.77,0.94,5.0,226.0,6.0,0.0,1.0,0.0,support,low
14970,0.53,0.88,3.0,150.0,3.0,1.0,0.0,0.0,accounting,high
14971,0.83,0.68,4.0,198.0,3.0,0.0,0.0,0.0,marketing,medium
14972,0.59,0.48,5.0,267.0,3.0,0.0,NaN,0.0,technical,medium
14973,0.88,0.84,4.0,170.0,2.0,0.0,NaN,0.0,RandD,medium
14974,1.00,0.60,4.0,261.0,3.0,0.0,0.0,0.0,technical,low
14975,0.84,0.91,5.0,232.0,6.0,0.0,1.0,0.0,management,low
14976,0.45,0.49,2.0,144.0,3.0,0.0,1.0,0.0,accounting,low
14977,NaN,0.73,3.0,257.0,3.0,0.0,0.0,0.0,sales,low
14978,0.62,0.88,5.0,146.0,3.0,0.0,0.0,0.0,sales,low
14979,0.10,0.87,6.0,286.0,4.0,0.0,1.0,0.0,IT,medium
14980,0.11,0.82,6.0,270.0,4.0,0.0,1.0,0.0,product_mng,low
14981,0.11,0.84,7.0,296.0,4.0,0.0,1.0,0.0,sales,low
14982,0.17,0.66,6.0,174.0,3.0,0.0,0.0,0.0,sales,medium
14983,0.54,0.65,3.0,202.0,3.0,0.0,0.0,0.0,marketing,low
14984,0.85,0.78,4.0,251.0,NaN,0.0,0.0,0.0,sales,medium
14985,0.91,0.75,NaN,159.0,3.0,1.0,0.0,0.0,support,low
14986,0.10,0.95,6.0,244.0,5.0,0.0,1.0,0.0,IT,medium
14987,NaN,0.67,3.0,190.0,10.0,0.0,0.0,0.0,IT,medium
14988,0.36,0.47,2.0,148.0,3.0,0.0,1.0,0.0,technical,medium
14989,0.91,NaN,5.0,137.0,3.0,0.0,0.0,0.0,management,medium
14990,0.47,0.53,4.0,181.0,3.0,0.0,0.0,0.0,technical,low
14991,0.92,0.69,NaN,139.0,2.0,0.0,0.0,0.0,accounting,low
14992,0.70,0.55,4.0,256.0,4.0,0.0,0.0,0.0,hr,medium
14993,0.63,0.87,4.0,145.0,3.0,1.0,0.0,0.0,support,high
14994,0.54,0.82,4.0,266.0,2.0,0.0,0.0,0.0,IT,medium
14995,0.88,0.66,4.0,271.0,3.0,1.0,0.0,0.0,None,medium
14996,0.09,0.84,7.0,260.0,4.0,0.0,1.0,0.0,sales,low
14997,0.11,0.91,6.0,278.0,4.0,0.0,1.0,0.0,marketing,low
14998,0.48,0.61,2.0,121.0,2.0,0.0,0.0,0.0,RandD,medium

In [86]:
%timeit imputer.pattern()

1 loop, best of 3: 3.35 s per loop

In [87]:
%timeit imputer.get_pattern(4)

100 loops, best of 3: 1.62 ms per loop

In [88]:
reload(impyte)
imputer = impyte.Imputer(data) # instantiate impyte class
nan_checker = impyte.NanChecker()
pattern_log = impyte.Pattern()
imputer.pattern()
imputer.drop_pattern(4)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.72,1.00,4.0,169.0,3.0,0.0,1.0,0.0,sales,medium
1,0.92,1.00,3.0,212.0,2.0,0.0,0.0,0.0,support,low
2,0.72,1.00,4.0,NaN,5.0,0.0,1.0,0.0,sales,low
3,0.50,0.90,5.0,226.0,2.0,0.0,0.0,0.0,management,high
4,0.53,0.92,3.0,199.0,2.0,0.0,0.0,0.0,hr,medium
5,0.49,0.67,4.0,185.0,2.0,0.0,0.0,0.0,sales,low
6,0.53,0.45,4.0,180.0,3.0,0.0,0.0,0.0,technical,medium
7,0.21,0.53,3.0,229.0,5.0,0.0,0.0,0.0,accounting,medium
8,0.73,0.60,4.0,222.0,3.0,0.0,0.0,0.0,technical,medium
9,0.49,0.95,4.0,156.0,2.0,0.0,0.0,0.0,technical,medium
10,0.63,0.62,NaN,212.0,6.0,0.0,0.0,0.0,sales,medium
11,0.78,0.95,3.0,270.0,2.0,0.0,0.0,0.0,sales,None
12,0.38,0.50,2.0,140.0,3.0,0.0,1.0,0.0,sales,medium
13,0.22,0.62,3.0,180.0,3.0,0.0,0.0,0.0,support,low
14,0.34,0.65,2.0,165.0,4.0,0.0,0.0,0.0,product_mng,low
16,0.13,0.78,6.0,152.0,2.0,0.0,1.0,0.0,support,low
17,0.22,0.53,5.0,160.0,4.0,1.0,0.0,0.0,sales,medium
18,0.09,0.96,6.0,268.0,4.0,NaN,1.0,0.0,technical,medium
19,0.11,0.90,7.0,245.0,4.0,0.0,1.0,0.0,RandD,medium
20,0.48,0.50,5.0,142.0,4.0,0.0,0.0,NaN,IT,medium
21,0.83,0.86,3.0,165.0,3.0,0.0,0.0,0.0,sales,low
22,0.57,0.87,4.0,171.0,2.0,0.0,0.0,0.0,support,medium
23,0.36,0.54,2.0,153.0,3.0,0.0,1.0,0.0,accounting,medium
24,0.90,0.55,3.0,260.0,3.0,0.0,0.0,0.0,sales,medium
25,0.78,0.54,4.0,102.0,3.0,0.0,0.0,0.0,sales,low
26,0.77,0.93,3.0,227.0,3.0,0.0,0.0,0.0,management,high
27,0.91,0.80,4.0,181.0,3.0,0.0,0.0,0.0,sales,low
28,0.36,0.57,2.0,144.0,3.0,0.0,1.0,0.0,None,low
30,0.89,0.58,4.0,232.0,2.0,0.0,0.0,0.0,sales,low
31,0.83,0.92,5.0,267.0,6.0,0.0,1.0,0.0,support,low
...,...,...,...,...,...,...,...,...,...,...
14968,0.59,0.49,4.0,164.0,3.0,0.0,0.0,0.0,support,low
14969,0.77,0.94,5.0,226.0,6.0,0.0,1.0,0.0,support,low
14970,0.53,0.88,3.0,150.0,3.0,1.0,0.0,0.0,accounting,high
14971,0.83,0.68,4.0,198.0,3.0,0.0,0.0,0.0,marketing,medium
14972,0.59,0.48,5.0,267.0,3.0,0.0,NaN,0.0,technical,medium
14973,0.88,0.84,4.0,170.0,2.0,0.0,NaN,0.0,RandD,medium
14974,1.00,0.60,4.0,261.0,3.0,0.0,0.0,0.0,technical,low
14975,0.84,0.91,5.0,232.0,6.0,0.0,1.0,0.0,management,low
14976,0.45,0.49,2.0,144.0,3.0,0.0,1.0,0.0,accounting,low
14977,NaN,0.73,3.0,257.0,3.0,0.0,0.0,0.0,sales,low
14978,0.62,0.88,5.0,146.0,3.0,0.0,0.0,0.0,sales,low
14979,0.10,0.87,6.0,286.0,4.0,0.0,1.0,0.0,IT,medium
14980,0.11,0.82,6.0,270.0,4.0,0.0,1.0,0.0,product_mng,low
14981,0.11,0.84,7.0,296.0,4.0,0.0,1.0,0.0,sales,low
14982,0.17,0.66,6.0,174.0,3.0,0.0,0.0,0.0,sales,medium
14983,0.54,0.65,3.0,202.0,3.0,0.0,0.0,0.0,marketing,low
14984,0.85,0.78,4.0,251.0,NaN,0.0,0.0,0.0,sales,medium
14985,0.91,0.75,NaN,159.0,3.0,1.0,0.0,0.0,support,low
14986,0.10,0.95,6.0,244.0,5.0,0.0,1.0,0.0,IT,medium
14987,NaN,0.67,3.0,190.0,10.0,0.0,0.0,0.0,IT,medium
14988,0.36,0.47,2.0,148.0,3.0,0.0,1.0,0.0,technical,medium
14990,0.47,0.53,4.0,181.0,3.0,0.0,0.0,0.0,technical,low
14991,0.92,0.69,NaN,139.0,2.0,0.0,0.0,0.0,accounting,low
14992,0.70,0.55,4.0,256.0,4.0,0.0,0.0,0.0,hr,medium
14993,0.63,0.87,4.0,145.0,3.0,1.0,0.0,0.0,support,high
14994,0.54,0.82,4.0,266.0,2.0,0.0,0.0,0.0,IT,medium
14995,0.88,0.66,4.0,271.0,3.0,1.0,0.0,0.0,None,medium
14996,0.09,0.84,7.0,260.0,4.0,0.0,1.0,0.0,sales,low
14997,0.11,0.91,6.0,278.0,4.0,0.0,1.0,0.0,marketing,low
14998,0.48,0.61,2.0,121.0,2.0,0.0,0.0,0.0,RandD,medium

In [81]:
#imputer.pattern()

In [89]:
imputer.load_data(data)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.72,1.00,4.0,169.0,3.0,0.0,1.0,0.0,sales,medium
1,0.92,1.00,3.0,212.0,2.0,0.0,0.0,0.0,support,low
2,0.72,1.00,4.0,NaN,5.0,0.0,1.0,0.0,sales,low
3,0.50,0.90,5.0,226.0,2.0,0.0,0.0,0.0,management,high
4,0.53,0.92,3.0,199.0,2.0,0.0,0.0,0.0,hr,medium
5,0.49,0.67,4.0,185.0,2.0,0.0,0.0,0.0,sales,low
6,0.53,0.45,4.0,180.0,3.0,0.0,0.0,0.0,technical,medium
7,0.21,0.53,3.0,229.0,5.0,0.0,0.0,0.0,accounting,medium
8,0.73,0.60,4.0,222.0,3.0,0.0,0.0,0.0,technical,medium
9,0.49,0.95,4.0,156.0,2.0,0.0,0.0,0.0,technical,medium
10,0.63,0.62,NaN,212.0,6.0,0.0,0.0,0.0,sales,medium
11,0.78,0.95,3.0,270.0,2.0,0.0,0.0,0.0,sales,None
12,0.38,0.50,2.0,140.0,3.0,0.0,1.0,0.0,sales,medium
13,0.22,0.62,3.0,180.0,3.0,0.0,0.0,0.0,support,low
14,0.34,0.65,2.0,165.0,4.0,0.0,0.0,0.0,product_mng,low
15,0.95,NaN,4.0,150.0,2.0,0.0,0.0,0.0,management,low
16,0.13,0.78,6.0,152.0,2.0,0.0,1.0,0.0,support,low
17,0.22,0.53,5.0,160.0,4.0,1.0,0.0,0.0,sales,medium
18,0.09,0.96,6.0,268.0,4.0,NaN,1.0,0.0,technical,medium
19,0.11,0.90,7.0,245.0,4.0,0.0,1.0,0.0,RandD,medium
20,0.48,0.50,5.0,142.0,4.0,0.0,0.0,NaN,IT,medium
21,0.83,0.86,3.0,165.0,3.0,0.0,0.0,0.0,sales,low
22,0.57,0.87,4.0,171.0,2.0,0.0,0.0,0.0,support,medium
23,0.36,0.54,2.0,153.0,3.0,0.0,1.0,0.0,accounting,medium
24,0.90,0.55,3.0,260.0,3.0,0.0,0.0,0.0,sales,medium
25,0.78,0.54,4.0,102.0,3.0,0.0,0.0,0.0,sales,low
26,0.77,0.93,3.0,227.0,3.0,0.0,0.0,0.0,management,high
27,0.91,0.80,4.0,181.0,3.0,0.0,0.0,0.0,sales,low
28,0.36,0.57,2.0,144.0,3.0,0.0,1.0,0.0,None,low
29,0.40,NaN,2.0,144.0,3.0,0.0,1.0,0.0,RandD,low
...,...,...,...,...,...,...,...,...,...,...
14969,0.77,0.94,5.0,226.0,6.0,0.0,1.0,0.0,support,low
14970,0.53,0.88,3.0,150.0,3.0,1.0,0.0,0.0,accounting,high
14971,0.83,0.68,4.0,198.0,3.0,0.0,0.0,0.0,marketing,medium
14972,0.59,0.48,5.0,267.0,3.0,0.0,NaN,0.0,technical,medium
14973,0.88,0.84,4.0,170.0,2.0,0.0,NaN,0.0,RandD,medium
14974,1.00,0.60,4.0,261.0,3.0,0.0,0.0,0.0,technical,low
14975,0.84,0.91,5.0,232.0,6.0,0.0,1.0,0.0,management,low
14976,0.45,0.49,2.0,144.0,3.0,0.0,1.0,0.0,accounting,low
14977,NaN,0.73,3.0,257.0,3.0,0.0,0.0,0.0,sales,low
14978,0.62,0.88,5.0,146.0,3.0,0.0,0.0,0.0,sales,low
14979,0.10,0.87,6.0,286.0,4.0,0.0,1.0,0.0,IT,medium
14980,0.11,0.82,6.0,270.0,4.0,0.0,1.0,0.0,product_mng,low
14981,0.11,0.84,7.0,296.0,4.0,0.0,1.0,0.0,sales,low
14982,0.17,0.66,6.0,174.0,3.0,0.0,0.0,0.0,sales,medium
14983,0.54,0.65,3.0,202.0,3.0,0.0,0.0,0.0,marketing,low
14984,0.85,0.78,4.0,251.0,NaN,0.0,0.0,0.0,sales,medium
14985,0.91,0.75,NaN,159.0,3.0,1.0,0.0,0.0,support,low
14986,0.10,0.95,6.0,244.0,5.0,0.0,1.0,0.0,IT,medium
14987,NaN,0.67,3.0,190.0,10.0,0.0,0.0,0.0,IT,medium
14988,0.36,0.47,2.0,148.0,3.0,0.0,1.0,0.0,technical,medium
14989,0.91,NaN,5.0,137.0,3.0,0.0,0.0,0.0,management,medium
14990,0.47,0.53,4.0,181.0,3.0,0.0,0.0,0.0,technical,low
14991,0.92,0.69,NaN,139.0,2.0,0.0,0.0,0.0,accounting,low
14992,0.70,0.55,4.0,256.0,4.0,0.0,0.0,0.0,hr,medium
14993,0.63,0.87,4.0,145.0,3.0,1.0,0.0,0.0,support,high
14994,0.54,0.82,4.0,266.0,2.0,0.0,0.0,0.0,IT,medium
14995,0.88,0.66,4.0,271.0,3.0,1.0,0.0,0.0,None,medium
14996,0.09,0.84,7.0,260.0,4.0,0.0,1.0,0.0,sales,low
14997,0.11,0.91,6.0,278.0,4.0,0.0,1.0,0.0,marketing,low
14998,0.48,0.61,2.0,121.0,2.0,0.0,0.0,0.0,RandD,medium

In [90]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
8,NaN,1,1,1,1,1,1,1,1,1,374
1,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
3,1,1,1,1,1,1,1,1,1,NaN,374
9,1,1,1,1,NaN,1,1,1,1,1,374
7,1,1,1,1,1,1,1,1,NaN,1,374
4,1,NaN,1,1,1,1,1,1,1,1,374
5,1,1,1,1,1,NaN,1,1,1,1,374
10,1,1,1,1,1,1,NaN,1,1,1,374
6,1,1,1,1,1,1,1,NaN,1,1,374

In [91]:
imputer.drop_pattern(4)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.72,1.00,4.0,169.0,3.0,0.0,1.0,0.0,sales,medium
1,0.92,1.00,3.0,212.0,2.0,0.0,0.0,0.0,support,low
2,0.72,1.00,4.0,NaN,5.0,0.0,1.0,0.0,sales,low
3,0.50,0.90,5.0,226.0,2.0,0.0,0.0,0.0,management,high
4,0.53,0.92,3.0,199.0,2.0,0.0,0.0,0.0,hr,medium
5,0.49,0.67,4.0,185.0,2.0,0.0,0.0,0.0,sales,low
6,0.53,0.45,4.0,180.0,3.0,0.0,0.0,0.0,technical,medium
7,0.21,0.53,3.0,229.0,5.0,0.0,0.0,0.0,accounting,medium
8,0.73,0.60,4.0,222.0,3.0,0.0,0.0,0.0,technical,medium
9,0.49,0.95,4.0,156.0,2.0,0.0,0.0,0.0,technical,medium
10,0.63,0.62,NaN,212.0,6.0,0.0,0.0,0.0,sales,medium
11,0.78,0.95,3.0,270.0,2.0,0.0,0.0,0.0,sales,None
12,0.38,0.50,2.0,140.0,3.0,0.0,1.0,0.0,sales,medium
13,0.22,0.62,3.0,180.0,3.0,0.0,0.0,0.0,support,low
14,0.34,0.65,2.0,165.0,4.0,0.0,0.0,0.0,product_mng,low
16,0.13,0.78,6.0,152.0,2.0,0.0,1.0,0.0,support,low
17,0.22,0.53,5.0,160.0,4.0,1.0,0.0,0.0,sales,medium
18,0.09,0.96,6.0,268.0,4.0,NaN,1.0,0.0,technical,medium
19,0.11,0.90,7.0,245.0,4.0,0.0,1.0,0.0,RandD,medium
20,0.48,0.50,5.0,142.0,4.0,0.0,0.0,NaN,IT,medium
21,0.83,0.86,3.0,165.0,3.0,0.0,0.0,0.0,sales,low
22,0.57,0.87,4.0,171.0,2.0,0.0,0.0,0.0,support,medium
23,0.36,0.54,2.0,153.0,3.0,0.0,1.0,0.0,accounting,medium
24,0.90,0.55,3.0,260.0,3.0,0.0,0.0,0.0,sales,medium
25,0.78,0.54,4.0,102.0,3.0,0.0,0.0,0.0,sales,low
26,0.77,0.93,3.0,227.0,3.0,0.0,0.0,0.0,management,high
27,0.91,0.80,4.0,181.0,3.0,0.0,0.0,0.0,sales,low
28,0.36,0.57,2.0,144.0,3.0,0.0,1.0,0.0,None,low
30,0.89,0.58,4.0,232.0,2.0,0.0,0.0,0.0,sales,low
31,0.83,0.92,5.0,267.0,6.0,0.0,1.0,0.0,support,low
...,...,...,...,...,...,...,...,...,...,...
14968,0.59,0.49,4.0,164.0,3.0,0.0,0.0,0.0,support,low
14969,0.77,0.94,5.0,226.0,6.0,0.0,1.0,0.0,support,low
14970,0.53,0.88,3.0,150.0,3.0,1.0,0.0,0.0,accounting,high
14971,0.83,0.68,4.0,198.0,3.0,0.0,0.0,0.0,marketing,medium
14972,0.59,0.48,5.0,267.0,3.0,0.0,NaN,0.0,technical,medium
14973,0.88,0.84,4.0,170.0,2.0,0.0,NaN,0.0,RandD,medium
14974,1.00,0.60,4.0,261.0,3.0,0.0,0.0,0.0,technical,low
14975,0.84,0.91,5.0,232.0,6.0,0.0,1.0,0.0,management,low
14976,0.45,0.49,2.0,144.0,3.0,0.0,1.0,0.0,accounting,low
14977,NaN,0.73,3.0,257.0,3.0,0.0,0.0,0.0,sales,low
14978,0.62,0.88,5.0,146.0,3.0,0.0,0.0,0.0,sales,low
14979,0.10,0.87,6.0,286.0,4.0,0.0,1.0,0.0,IT,medium
14980,0.11,0.82,6.0,270.0,4.0,0.0,1.0,0.0,product_mng,low
14981,0.11,0.84,7.0,296.0,4.0,0.0,1.0,0.0,sales,low
14982,0.17,0.66,6.0,174.0,3.0,0.0,0.0,0.0,sales,medium
14983,0.54,0.65,3.0,202.0,3.0,0.0,0.0,0.0,marketing,low
14984,0.85,0.78,4.0,251.0,NaN,0.0,0.0,0.0,sales,medium
14985,0.91,0.75,NaN,159.0,3.0,1.0,0.0,0.0,support,low
14986,0.10,0.95,6.0,244.0,5.0,0.0,1.0,0.0,IT,medium
14987,NaN,0.67,3.0,190.0,10.0,0.0,0.0,0.0,IT,medium
14988,0.36,0.47,2.0,148.0,3.0,0.0,1.0,0.0,technical,medium
14990,0.47,0.53,4.0,181.0,3.0,0.0,0.0,0.0,technical,low
14991,0.92,0.69,NaN,139.0,2.0,0.0,0.0,0.0,accounting,low
14992,0.70,0.55,4.0,256.0,4.0,0.0,0.0,0.0,hr,medium
14993,0.63,0.87,4.0,145.0,3.0,1.0,0.0,0.0,support,high
14994,0.54,0.82,4.0,266.0,2.0,0.0,0.0,0.0,IT,medium
14995,0.88,0.66,4.0,271.0,3.0,1.0,0.0,0.0,None,medium
14996,0.09,0.84,7.0,260.0,4.0,0.0,1.0,0.0,sales,low
14997,0.11,0.91,6.0,278.0,4.0,0.0,1.0,0.0,marketing,low
14998,0.48,0.61,2.0,121.0,2.0,0.0,0.0,0.0,RandD,medium

In [92]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
7,NaN,1,1,1,1,1,1,1,1,1,374
1,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
3,1,1,1,1,1,1,1,1,1,NaN,374
8,1,1,1,1,NaN,1,1,1,1,1,374
6,1,1,1,1,1,1,1,1,NaN,1,374
4,1,1,1,1,1,NaN,1,1,1,1,374
9,1,1,1,1,1,1,NaN,1,1,1,374
5,1,1,1,1,1,1,1,NaN,1,1,374

In [93]:
imputer.drop_pattern(7)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.72,1.00,4.0,169.0,3.0,0.0,1.0,0.0,sales,medium
1,0.92,1.00,3.0,212.0,2.0,0.0,0.0,0.0,support,low
2,0.72,1.00,4.0,NaN,5.0,0.0,1.0,0.0,sales,low
3,0.50,0.90,5.0,226.0,2.0,0.0,0.0,0.0,management,high
4,0.53,0.92,3.0,199.0,2.0,0.0,0.0,0.0,hr,medium
5,0.49,0.67,4.0,185.0,2.0,0.0,0.0,0.0,sales,low
6,0.53,0.45,4.0,180.0,3.0,0.0,0.0,0.0,technical,medium
7,0.21,0.53,3.0,229.0,5.0,0.0,0.0,0.0,accounting,medium
8,0.73,0.60,4.0,222.0,3.0,0.0,0.0,0.0,technical,medium
9,0.49,0.95,4.0,156.0,2.0,0.0,0.0,0.0,technical,medium
10,0.63,0.62,NaN,212.0,6.0,0.0,0.0,0.0,sales,medium
11,0.78,0.95,3.0,270.0,2.0,0.0,0.0,0.0,sales,None
12,0.38,0.50,2.0,140.0,3.0,0.0,1.0,0.0,sales,medium
13,0.22,0.62,3.0,180.0,3.0,0.0,0.0,0.0,support,low
14,0.34,0.65,2.0,165.0,4.0,0.0,0.0,0.0,product_mng,low
16,0.13,0.78,6.0,152.0,2.0,0.0,1.0,0.0,support,low
17,0.22,0.53,5.0,160.0,4.0,1.0,0.0,0.0,sales,medium
18,0.09,0.96,6.0,268.0,4.0,NaN,1.0,0.0,technical,medium
19,0.11,0.90,7.0,245.0,4.0,0.0,1.0,0.0,RandD,medium
20,0.48,0.50,5.0,142.0,4.0,0.0,0.0,NaN,IT,medium
21,0.83,0.86,3.0,165.0,3.0,0.0,0.0,0.0,sales,low
22,0.57,0.87,4.0,171.0,2.0,0.0,0.0,0.0,support,medium
23,0.36,0.54,2.0,153.0,3.0,0.0,1.0,0.0,accounting,medium
24,0.90,0.55,3.0,260.0,3.0,0.0,0.0,0.0,sales,medium
25,0.78,0.54,4.0,102.0,3.0,0.0,0.0,0.0,sales,low
26,0.77,0.93,3.0,227.0,3.0,0.0,0.0,0.0,management,high
27,0.91,0.80,4.0,181.0,3.0,0.0,0.0,0.0,sales,low
28,0.36,0.57,2.0,144.0,3.0,0.0,1.0,0.0,None,low
30,0.89,0.58,4.0,232.0,2.0,0.0,0.0,0.0,sales,low
31,0.83,0.92,5.0,267.0,6.0,0.0,1.0,0.0,support,low
...,...,...,...,...,...,...,...,...,...,...
14966,0.38,0.56,2.0,148.0,3.0,0.0,1.0,0.0,None,medium
14967,0.51,0.64,3.0,203.0,3.0,0.0,0.0,0.0,sales,low
14968,0.59,0.49,4.0,164.0,3.0,0.0,0.0,0.0,support,low
14969,0.77,0.94,5.0,226.0,6.0,0.0,1.0,0.0,support,low
14970,0.53,0.88,3.0,150.0,3.0,1.0,0.0,0.0,accounting,high
14971,0.83,0.68,4.0,198.0,3.0,0.0,0.0,0.0,marketing,medium
14972,0.59,0.48,5.0,267.0,3.0,0.0,NaN,0.0,technical,medium
14973,0.88,0.84,4.0,170.0,2.0,0.0,NaN,0.0,RandD,medium
14974,1.00,0.60,4.0,261.0,3.0,0.0,0.0,0.0,technical,low
14975,0.84,0.91,5.0,232.0,6.0,0.0,1.0,0.0,management,low
14976,0.45,0.49,2.0,144.0,3.0,0.0,1.0,0.0,accounting,low
14978,0.62,0.88,5.0,146.0,3.0,0.0,0.0,0.0,sales,low
14979,0.10,0.87,6.0,286.0,4.0,0.0,1.0,0.0,IT,medium
14980,0.11,0.82,6.0,270.0,4.0,0.0,1.0,0.0,product_mng,low
14981,0.11,0.84,7.0,296.0,4.0,0.0,1.0,0.0,sales,low
14982,0.17,0.66,6.0,174.0,3.0,0.0,0.0,0.0,sales,medium
14983,0.54,0.65,3.0,202.0,3.0,0.0,0.0,0.0,marketing,low
14984,0.85,0.78,4.0,251.0,NaN,0.0,0.0,0.0,sales,medium
14985,0.91,0.75,NaN,159.0,3.0,1.0,0.0,0.0,support,low
14986,0.10,0.95,6.0,244.0,5.0,0.0,1.0,0.0,IT,medium
14988,0.36,0.47,2.0,148.0,3.0,0.0,1.0,0.0,technical,medium
14990,0.47,0.53,4.0,181.0,3.0,0.0,0.0,0.0,technical,low
14991,0.92,0.69,NaN,139.0,2.0,0.0,0.0,0.0,accounting,low
14992,0.70,0.55,4.0,256.0,4.0,0.0,0.0,0.0,hr,medium
14993,0.63,0.87,4.0,145.0,3.0,1.0,0.0,0.0,support,high
14994,0.54,0.82,4.0,266.0,2.0,0.0,0.0,0.0,IT,medium
14995,0.88,0.66,4.0,271.0,3.0,1.0,0.0,0.0,None,medium
14996,0.09,0.84,7.0,260.0,4.0,0.0,1.0,0.0,sales,low
14997,0.11,0.91,6.0,278.0,4.0,0.0,1.0,0.0,marketing,low
14998,0.48,0.61,2.0,121.0,2.0,0.0,0.0,0.0,RandD,medium

In [94]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
1,1,1,1,NaN,1,1,1,1,1,1,374
2,1,1,NaN,1,1,1,1,1,1,1,374
3,1,1,1,1,1,1,1,1,1,NaN,374
7,1,1,1,1,NaN,1,1,1,1,1,374
6,1,1,1,1,1,1,1,1,NaN,1,374
4,1,1,1,1,1,NaN,1,1,1,1,374
8,1,1,1,1,1,1,NaN,1,1,1,374
5,1,1,1,1,1,1,1,NaN,1,1,374