# Impyte Documentation
This is a first practicle attempt to clarify the usage of `impyte`. It's a collection of easy applicable and reproducible examples that you could use to simplyify your data processing workflow.

## Generating sample data
In order to show some of the features of the library, we'll be using Kaggle's HR data that can be found [here](https://www.kaggle.com/ludobenistant/hr-analytics).

In [1]:
# import library and data set
import impyte
import pandas as pd
from tools.data_prep import remove_random

In [2]:
data = pd.read_csv('data/hr_test.csv')

In [3]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## Add random missing values
In order to show some of the pattern visualization and imputation methods, we need incomplete data sets. To achieve this, we'll be using a helper function that deletes values at random. 25 % of all values from each category will be deleted.

In [4]:
data = remove_random(data, .25)

In [5]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.66,0.50,3.0,139.0,10.0,1.0,0.0,0.0,sales,low
1,0.85,0.66,4.0,155.0,4.0,0.0,0.0,0.0,hr,high
2,0.97,0.81,3.0,145.0,3.0,0.0,0.0,0.0,support,low
3,0.89,1.00,5.0,224.0,5.0,0.0,1.0,0.0,sales,low
4,0.60,NaN,4.0,147.0,3.0,0.0,0.0,0.0,support,low

In [6]:
reload(impyte)
imputer = impyte.Imputer() # instantiate impyte class
nan_checker = impyte.NanChecker()
pattern_log = impyte.Pattern()

In [7]:
%timeit nan_checker.is_nan(["", 'None', 'NaN'])
%timeit nan_checker.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

100000 loops, best of 3: 5.26 µs per loop
100000 loops, best of 3: 4.87 µs per loop

In [8]:
# Showcase nan_check
%timeit pattern_log.row_nan_pattern(['yes', 'no', '', None])

100000 loops, best of 3: 8.14 µs per loop

In [9]:
%timeit pattern_log.print_pattern(data)

1 loop, best of 3: 738 ms per loop

In [10]:
%timeit pattern_log.compute_pattern(data)

1 loop, best of 3: 1.76 s per loop

In [11]:
pattern_log.compute_pattern(data)['table']

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
8,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
5,1,1,NaN,1,1,1,1,1,1,1,374
2,1,1,1,1,1,1,1,1,1,NaN,374
10,1,1,1,1,1,1,1,NaN,1,1,374
9,1,1,1,1,NaN,1,1,1,1,1,374
4,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
6,1,1,1,1,1,1,NaN,1,1,1,374
7,1,1,1,1,1,NaN,1,1,1,1,374

### Load data into imputer

In [12]:
imputer.load_data(data)

In [13]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
8,1,1,1,1,1,1,1,1,NaN,1,374
3,1,1,1,NaN,1,1,1,1,1,1,374
5,1,1,NaN,1,1,1,1,1,1,1,374
2,1,1,1,1,1,1,1,1,1,NaN,374
10,1,1,1,1,1,1,1,NaN,1,1,374
9,1,1,1,1,NaN,1,1,1,1,1,374
4,NaN,1,1,1,1,1,1,1,1,1,374
1,1,NaN,1,1,1,1,1,1,1,1,374
6,1,1,1,1,1,1,NaN,1,1,1,374
7,1,1,1,1,1,NaN,1,1,1,1,374

In [14]:
imputer.get_pattern(4)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
15,NaN,0.61,3.0,165.0,2.0,0.0,0.0,0.0,RandD,low
16,NaN,0.53,6.0,222.0,3.0,0.0,0.0,0.0,technical,medium
23,NaN,0.71,4.0,148.0,3.0,0.0,0.0,0.0,management,high
31,NaN,0.79,3.0,247.0,3.0,0.0,0.0,0.0,sales,low
156,NaN,0.55,4.0,217.0,8.0,0.0,0.0,0.0,accounting,medium
255,NaN,0.98,3.0,188.0,5.0,0.0,0.0,0.0,support,medium
273,NaN,0.50,2.0,135.0,5.0,0.0,1.0,0.0,sales,low
317,NaN,0.92,4.0,149.0,2.0,0.0,0.0,0.0,product_mng,medium
381,NaN,0.94,5.0,235.0,3.0,0.0,0.0,0.0,hr,low
414,NaN,0.68,4.0,154.0,3.0,1.0,0.0,0.0,management,medium
417,NaN,0.85,6.0,266.0,4.0,0.0,1.0,0.0,sales,low
427,NaN,0.98,5.0,245.0,5.0,0.0,1.0,0.0,IT,low
547,NaN,0.58,3.0,135.0,3.0,0.0,0.0,0.0,IT,low
661,NaN,0.91,2.0,176.0,3.0,0.0,0.0,0.0,technical,low
676,NaN,0.58,3.0,179.0,5.0,0.0,0.0,0.0,support,low
722,NaN,0.49,2.0,148.0,3.0,0.0,1.0,0.0,sales,low
772,NaN,0.60,4.0,161.0,3.0,0.0,0.0,0.0,IT,low
780,NaN,0.47,5.0,139.0,4.0,0.0,0.0,0.0,sales,low
799,NaN,0.50,2.0,153.0,3.0,0.0,1.0,0.0,support,low
859,NaN,0.88,5.0,250.0,4.0,0.0,1.0,0.0,RandD,medium
909,NaN,0.54,4.0,180.0,3.0,0.0,0.0,0.0,marketing,medium
946,NaN,0.51,2.0,138.0,3.0,0.0,1.0,0.0,technical,low
997,NaN,0.89,4.0,272.0,2.0,0.0,0.0,0.0,support,low
1061,NaN,0.79,4.0,139.0,3.0,0.0,0.0,0.0,sales,low
1126,NaN,0.53,2.0,143.0,3.0,0.0,1.0,0.0,accounting,medium
1135,NaN,0.51,6.0,163.0,6.0,0.0,0.0,0.0,technical,low
1155,NaN,0.69,3.0,250.0,3.0,0.0,0.0,0.0,accounting,low
1173,NaN,1.00,5.0,152.0,4.0,0.0,0.0,0.0,support,low
1202,NaN,0.69,2.0,178.0,3.0,0.0,0.0,0.0,product_mng,low
1203,NaN,0.55,3.0,217.0,4.0,1.0,0.0,0.0,technical,medium
...,...,...,...,...,...,...,...,...,...,...
13758,NaN,0.94,4.0,195.0,3.0,1.0,0.0,0.0,technical,medium
13778,NaN,0.92,5.0,222.0,4.0,0.0,0.0,0.0,support,medium
13804,NaN,0.49,4.0,191.0,5.0,0.0,0.0,0.0,IT,low
13816,NaN,0.55,2.0,137.0,3.0,1.0,1.0,0.0,RandD,low
13826,NaN,0.97,4.0,219.0,4.0,1.0,0.0,0.0,hr,low
13841,NaN,0.48,4.0,238.0,3.0,0.0,0.0,0.0,IT,medium
13844,NaN,0.56,6.0,111.0,6.0,0.0,0.0,0.0,sales,low
13872,NaN,0.61,2.0,272.0,2.0,0.0,0.0,0.0,sales,low
13973,NaN,0.78,2.0,228.0,2.0,0.0,0.0,0.0,technical,medium
13978,NaN,0.57,3.0,232.0,4.0,0.0,0.0,0.0,hr,medium
14078,NaN,0.50,4.0,253.0,10.0,0.0,0.0,1.0,management,high
14122,NaN,0.55,2.0,127.0,3.0,0.0,1.0,0.0,RandD,medium
14139,NaN,0.78,6.0,211.0,4.0,1.0,0.0,0.0,product_mng,medium
14190,NaN,0.73,5.0,228.0,5.0,0.0,0.0,0.0,support,low
14200,NaN,0.91,3.0,165.0,3.0,1.0,0.0,0.0,support,low
14210,NaN,0.67,4.0,162.0,10.0,0.0,0.0,0.0,management,high
14269,NaN,0.90,3.0,259.0,2.0,0.0,0.0,0.0,support,low
14288,NaN,0.85,3.0,235.0,2.0,0.0,0.0,0.0,support,low
14472,NaN,0.58,4.0,149.0,3.0,0.0,0.0,0.0,product_mng,low
14527,NaN,0.87,3.0,204.0,4.0,0.0,0.0,0.0,support,medium
14572,NaN,0.84,6.0,246.0,4.0,0.0,1.0,0.0,hr,medium
14600,NaN,0.95,3.0,268.0,3.0,1.0,0.0,0.0,sales,low
14656,NaN,0.86,4.0,260.0,2.0,0.0,0.0,0.0,sales,medium
14748,NaN,0.55,4.0,218.0,3.0,0.0,0.0,0.0,support,medium
14787,NaN,0.50,2.0,151.0,3.0,0.0,0.0,0.0,sales,low
14859,NaN,0.54,4.0,219.0,3.0,0.0,0.0,0.0,product_mng,medium
14887,NaN,0.65,3.0,190.0,10.0,0.0,0.0,0.0,sales,medium
14900,NaN,0.47,2.0,138.0,3.0,1.0,1.0,0.0,accounting,medium
14923,NaN,0.48,2.0,136.0,3.0,0.0,1.0,0.0,marketing,medium
14945,NaN,0.40,2.0,122.0,5.0,0.0,0.0,0.0,sales,low