# Impyte Documentation
This is a first practicle attempt to clarify the usage of `impyte`. It's a collection of easy applicable and reproducible examples that you could use to simplyify your data processing workflow.

## Importing and generating sample data
In order to show some of the features of the library, we'll be using Kaggle's HR data that can be found [here](https://www.kaggle.com/ludobenistant/hr-analytics).

In [493]:
# import library and data set
import impyte
import pandas as pd
from tools.data_prep import remove_random

In [494]:
data = pd.read_csv('data/hr_test.csv')

In [495]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## Add random missing values
In order to show some of the pattern visualization and imputation methods, we need incomplete data sets. To achieve this, we'll be using a helper function that deletes values at random. 25 % of all values from each category will be deleted.

In [496]:
data = remove_random(data, .25)

In [497]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.49,4.0,222.0,3.0,0.0,0.0,0.0,management,high
1,NaN,0.57,4.0,183.0,3.0,0.0,0.0,0.0,RandD,low
2,NaN,0.80,4.0,236.0,3.0,0.0,0.0,0.0,marketing,low
3,NaN,0.87,5.0,261.0,5.0,0.0,1.0,0.0,sales,low
4,NaN,0.99,5.0,262.0,6.0,0.0,1.0,0.0,sales,low

In [498]:
data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14625.000000,14625.000000,14625.000000,14625.000000,14625.000000,14625.000000,14625.000000,14625.000000
mean,0.613506,0.716202,3.805333,201.146667,3.498735,0.144410,0.237812,0.021265
std,0.248506,0.171228,1.232392,49.939527,1.459290,0.351517,0.425758,0.144271
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [499]:
len(data)

14999

In [500]:
reload(impyte)
imputer = impyte.Imputer() # instantiate impyte class

## Testing rudimentary features
Below is a first trial run of some of the features implemented by impyter and its helper classes.

## `NanChecker`
Functionality testing of `NanChecker` class.

In [501]:
nan_checker = impyte.NanChecker()

#### `NanChecker.is_nan(data, nan_vals=None, recursive=True)`
Detect missing values (NaN in numeric arrays, empty strings in string arrays). NaN detection feature also enables NaN-value ingestion as parameter values.

In [502]:
# [True, False, False]
print nan_checker.is_nan(["", 'None', 'NaN'])

# [True, True, True]
print nan_checker.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

[True, False, False]
[True, True, True]

In [503]:
# Recursive nan detection
# [True, True, False, [False, True, True]]
print nan_checker.is_nan(["", None, 'NaN', ["List Value 1", '', None]])

[True, True, False, [False, True, True]]

In [504]:
# Values can be declared as nan-values
# [True, False, False, True]
nan_checker.is_nan(['NaN', 'Empty', 'None', 'N/A'], nan_vals=['NaN', 'N/A'])

[True, False, False, True]

## `Pattern`
Functionality testing of `Pattern` class. The `Pattern` class stores different patterns and data summaries regarding NaN values.

#### `Pattern._get_discrete_and_continuous(tmpdata)`
Returns the column names of discrete and continuous variables. Column names are stored in lists for easy selection. Those lists are stored in one dictionary object. All continuous column names can be accessed through `['continuous']` all discrete variables through `['discrete']`.

In [533]:
reload(impyte)
pattern_log = impyte.Pattern()

In [534]:
pattern_log._get_discrete_and_continuous(data)

{'continuous': ['satisfaction_level',
  'last_evaluation',
  'number_project',
  'average_montly_hours',
  'time_spend_company',
  'Work_accident',
  'left',
  'promotion_last_5years'],
 'discrete': ['sales', 'salary']}

#### `Pattern._compute_pattern(data, nan_values="", verbose=False)`
Function that checks for missing values and prints out a quick table of a summary of missing values. Includes pattern overview and counts of missing values by column. Computes pattern and returns its pattern structure plus the count of data points for each of these patterns. To get a nice digestible table add `["table"]` selector to output.

In [535]:
pattern_dict = pattern_log._compute_pattern(data)
indices, table = pattern_dict["indices"], pattern_dict["table"]

In [536]:
table

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
1,1,1,1,1,1,1,1,1,NaN,1,374
2,1,1,1,NaN,1,1,1,1,1,1,374
3,1,1,NaN,1,1,1,1,1,1,1,374
4,1,1,1,1,1,1,1,1,1,NaN,374
5,1,1,1,1,1,1,1,NaN,1,1,374
6,1,1,1,1,NaN,1,1,1,1,1,374
7,NaN,1,1,1,1,1,1,1,1,1,374
8,1,NaN,1,1,1,1,1,1,1,1,374
9,1,1,1,1,1,NaN,1,1,1,1,374
10,1,1,1,1,1,1,NaN,1,1,1,374

In [537]:
indices[0][:10] # first 10 indices of pattern 0

[3740, 3741, 3742, 3743, 3744, 3745, 3746, 3747, 3748, 3749]

In [538]:
pattern_nr = 0
print "Pattern {} has {:,} rows.".format(pattern_nr, len(indices[0]))

Pattern 0 has 11,259 rows.

#### `Pattern.get_pattern()`
Returns NaN-patterns based on primary computation or initiates new computation of NaN-patterns. Uses `_compute_patterns()` to visualize patterns if not yet computed. Otherwise returns stored information regarding patterns.

In [539]:
pattern_log.get_pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
1,1,1,1,1,1,1,1,1,NaN,1,374
2,1,1,1,NaN,1,1,1,1,1,1,374
3,1,1,NaN,1,1,1,1,1,1,1,374
4,1,1,1,1,1,1,1,1,1,NaN,374
5,1,1,1,1,1,1,1,NaN,1,1,374
6,1,1,1,1,NaN,1,1,1,1,1,374
7,NaN,1,1,1,1,1,1,1,1,1,374
8,1,NaN,1,1,1,1,1,1,1,1,374
9,1,1,1,1,1,NaN,1,1,1,1,374
10,1,1,1,1,1,1,NaN,1,1,1,374

#### `Pattern.row_nan_pattern(row)`
This is a core piece to determining which patterns are available. Other methods work with the output of `row_nan_pattern()` to determine unique pattern structures and count these before turning them into readable tables.

In [540]:
# (1, 1, 'NaN', 'NaN')
print pattern_log.row_nan_pattern(['Value 1', 'Value 2', '', None])

(1, 1, 'NaN', 'NaN')

#### `Pattern.get_pattern_indices(pattern_no)`

In [541]:
pattern_log.get_pattern_indices(0)[:10] # get first 10 indices of pattern 0

[3740, 3741, 3742, 3743, 3744, 3745, 3746, 3747, 3748, 3749]

#### `Pattern.get_continuous()`
Returns list with names of all continuous variables.

In [544]:
pattern_log.get_continuous()

['satisfaction_level',
 'last_evaluation',
 'number_project',
 'average_montly_hours',
 'time_spend_company',
 'Work_accident',
 'left',
 'promotion_last_5years']

#### `Pattern.get_discrete()`
Returns list with names of all discrete variables.

In [545]:
pattern_log.get_discrete()

['sales', 'salary']

## `Imputer`

### Load data into imputer

In [551]:
reload(impyte)
_ = imputer.load_data(data)

In [552]:
%timeit imputer.pattern()

The slowest run took 108520.97 times longer than the fastest. This could mean that an intermediate result is being cached.
1 loop, best of 3: 8.11 µs per loop

In [553]:
%timeit imputer.get_pattern(4)

The slowest run took 5.00 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 752 µs per loop

In [554]:
reload(impyte)
imputer = impyte.Imputer(data) # instantiate impyte class
nan_checker = impyte.NanChecker()
pattern_log = impyte.Pattern()
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
1,1,1,1,1,1,1,1,1,NaN,1,374
2,1,1,1,NaN,1,1,1,1,1,1,374
3,1,1,NaN,1,1,1,1,1,1,1,374
4,1,1,1,1,1,1,1,1,1,NaN,374
5,1,1,1,1,1,1,1,NaN,1,1,374
6,1,1,1,1,NaN,1,1,1,1,1,374
7,NaN,1,1,1,1,1,1,1,1,1,374
8,1,NaN,1,1,1,1,1,1,1,1,374
9,1,1,1,1,1,NaN,1,1,1,1,374
10,1,1,1,1,1,1,NaN,1,1,1,374

In [555]:
_ = imputer.drop_pattern(4, inplace=True)

In [556]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
1,1,1,1,1,1,1,1,1,NaN,1,374
2,1,1,1,NaN,1,1,1,1,1,1,374
3,1,1,NaN,1,1,1,1,1,1,1,374
5,1,1,1,1,1,1,1,NaN,1,1,374
6,1,1,1,1,NaN,1,1,1,1,1,374
7,NaN,1,1,1,1,1,1,1,1,1,374
8,1,NaN,1,1,1,1,1,1,1,1,374
9,1,1,1,1,1,NaN,1,1,1,1,374
10,1,1,1,1,1,1,NaN,1,1,1,374

In [557]:
_ = imputer.load_data(data)

In [558]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
1,1,1,1,1,1,1,1,1,NaN,1,374
2,1,1,1,NaN,1,1,1,1,1,1,374
3,1,1,NaN,1,1,1,1,1,1,1,374
4,1,1,1,1,1,1,1,1,1,NaN,374
5,1,1,1,1,1,1,1,NaN,1,1,374
6,1,1,1,1,NaN,1,1,1,1,1,374
7,NaN,1,1,1,1,1,1,1,1,1,374
8,1,NaN,1,1,1,1,1,1,1,1,374
9,1,1,1,1,1,NaN,1,1,1,1,374
10,1,1,1,1,1,1,NaN,1,1,1,374

In [559]:
_ = imputer.drop_pattern(4)

In [560]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
1,1,1,1,1,1,1,1,1,NaN,1,374
2,1,1,1,NaN,1,1,1,1,1,1,374
3,1,1,NaN,1,1,1,1,1,1,1,374
4,1,1,1,1,1,1,1,1,1,NaN,374
5,1,1,1,1,1,1,1,NaN,1,1,374
6,1,1,1,1,NaN,1,1,1,1,1,374
7,NaN,1,1,1,1,1,1,1,1,1,374
8,1,NaN,1,1,1,1,1,1,1,1,374
9,1,1,1,1,1,NaN,1,1,1,1,374
10,1,1,1,1,1,1,NaN,1,1,1,374

In [561]:
imputer.drop_pattern(7, inplace=True)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
374,0.86,NaN,4.0,136.0,4.0,0.0,0.0,0.0,technical,medium
375,0.45,NaN,2.0,147.0,3.0,0.0,1.0,0.0,sales,low
376,0.74,NaN,4.0,232.0,5.0,0.0,1.0,0.0,technical,medium
377,0.87,NaN,4.0,173.0,3.0,0.0,0.0,0.0,support,low
378,0.73,NaN,4.0,241.0,2.0,1.0,0.0,0.0,accounting,medium
379,0.53,NaN,3.0,163.0,3.0,1.0,0.0,0.0,IT,low
380,0.83,NaN,5.0,156.0,3.0,1.0,0.0,0.0,sales,low
381,0.87,NaN,4.0,228.0,5.0,0.0,1.0,0.0,sales,low
382,0.55,NaN,3.0,254.0,2.0,0.0,0.0,0.0,IT,medium
383,0.75,NaN,3.0,244.0,2.0,0.0,0.0,0.0,product_mng,low
384,0.64,NaN,3.0,250.0,3.0,0.0,0.0,0.0,marketing,low
385,0.52,NaN,2.0,176.0,3.0,1.0,0.0,0.0,IT,low
386,0.99,NaN,3.0,202.0,3.0,0.0,0.0,0.0,sales,medium
387,0.76,NaN,5.0,236.0,6.0,0.0,1.0,0.0,technical,medium
388,0.10,NaN,6.0,256.0,4.0,0.0,1.0,0.0,support,low
389,0.87,NaN,4.0,151.0,3.0,1.0,0.0,0.0,sales,medium
390,0.83,NaN,3.0,220.0,4.0,0.0,0.0,0.0,technical,low
391,0.76,NaN,5.0,187.0,4.0,0.0,0.0,0.0,hr,medium
392,0.39,NaN,3.0,152.0,2.0,0.0,0.0,0.0,sales,low
393,0.46,NaN,2.0,144.0,3.0,0.0,1.0,0.0,sales,low
394,0.56,NaN,4.0,224.0,3.0,0.0,0.0,0.0,sales,medium
395,0.45,NaN,2.0,158.0,3.0,0.0,1.0,0.0,technical,low
396,0.11,NaN,7.0,308.0,4.0,0.0,1.0,0.0,IT,medium
397,0.77,NaN,5.0,276.0,5.0,0.0,1.0,0.0,support,medium
398,0.39,NaN,2.0,136.0,3.0,0.0,1.0,0.0,support,medium
399,1.00,NaN,3.0,223.0,3.0,0.0,0.0,0.0,RandD,medium
400,0.65,NaN,3.0,248.0,4.0,0.0,0.0,0.0,sales,medium
401,0.51,NaN,4.0,198.0,6.0,0.0,0.0,0.0,marketing,medium
402,0.52,NaN,4.0,125.0,3.0,0.0,0.0,0.0,hr,low
403,0.73,NaN,6.0,189.0,3.0,1.0,0.0,0.0,sales,medium
...,...,...,...,...,...,...,...,...,...,...
14969,0.82,0.75,4.0,224.0,3.0,0.0,0.0,0.0,sales,low
14970,0.84,0.73,4.0,197.0,3.0,0.0,0.0,1.0,technical,low
14971,0.97,0.50,3.0,216.0,3.0,0.0,0.0,0.0,IT,low
14972,0.96,0.72,3.0,157.0,3.0,0.0,0.0,0.0,sales,medium
14973,0.59,0.74,5.0,165.0,2.0,0.0,0.0,0.0,RandD,medium
14974,0.78,0.53,6.0,168.0,3.0,0.0,0.0,0.0,sales,low
14975,0.89,0.94,5.0,223.0,3.0,0.0,0.0,0.0,sales,medium
14976,0.74,0.66,3.0,254.0,2.0,0.0,0.0,0.0,support,medium
14977,0.73,0.92,5.0,266.0,5.0,0.0,1.0,0.0,support,medium
14978,0.47,0.81,4.0,133.0,3.0,0.0,1.0,0.0,RandD,low
14979,0.90,0.79,4.0,150.0,2.0,0.0,0.0,0.0,IT,low
14980,0.90,0.81,4.0,175.0,3.0,0.0,0.0,0.0,management,medium
14981,0.92,0.76,5.0,132.0,3.0,1.0,0.0,0.0,RandD,low
14982,0.73,0.69,4.0,171.0,3.0,0.0,0.0,0.0,product_mng,medium
14983,0.38,0.47,2.0,147.0,3.0,0.0,1.0,0.0,support,medium
14984,0.46,0.57,2.0,152.0,3.0,0.0,1.0,0.0,support,low
14985,0.38,0.55,2.0,148.0,3.0,0.0,1.0,0.0,support,low
14986,0.98,0.55,3.0,166.0,6.0,1.0,0.0,0.0,sales,medium
14987,0.31,0.63,4.0,104.0,7.0,1.0,0.0,0.0,sales,medium
14988,0.69,0.63,3.0,226.0,3.0,0.0,0.0,0.0,sales,low
14989,0.89,0.96,3.0,179.0,8.0,0.0,0.0,0.0,management,high
14990,0.86,0.84,5.0,254.0,5.0,0.0,1.0,0.0,product_mng,medium
14991,0.36,0.55,2.0,134.0,3.0,0.0,1.0,0.0,support,low
14992,0.59,0.51,3.0,203.0,2.0,1.0,0.0,0.0,IT,medium
14993,0.51,0.98,4.0,269.0,3.0,0.0,0.0,0.0,accounting,low
14994,0.77,0.68,5.0,162.0,4.0,1.0,0.0,0.0,technical,medium
14995,0.42,0.69,3.0,126.0,2.0,0.0,0.0,0.0,sales,low
14996,0.14,0.57,6.0,275.0,5.0,0.0,0.0,0.0,sales,low
14997,0.63,0.64,4.0,178.0,3.0,0.0,0.0,0.0,product_mng,low
14998,0.90,0.85,3.0,158.0,7.0,0.0,0.0,0.0,marketing,medium

In [562]:
imputer.pattern()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,Count
0,1,1,1,1,1,1,1,1,1,1,11259
1,1,1,1,1,1,1,1,1,NaN,1,374
2,1,1,1,NaN,1,1,1,1,1,1,374
3,1,1,NaN,1,1,1,1,1,1,1,374
4,1,1,1,1,1,1,1,1,1,NaN,374
5,1,1,1,1,1,1,1,NaN,1,1,374
6,1,1,1,1,NaN,1,1,1,1,1,374
8,1,NaN,1,1,1,1,1,1,1,1,374
9,1,1,1,1,1,NaN,1,1,1,1,374
10,1,1,1,1,1,1,NaN,1,1,1,374

In [563]:
imputer.impute()

(['satisfaction_level',
  'last_evaluation',
  'number_project',
  'average_montly_hours',
  'time_spend_company',
  'Work_accident',
  'left',
  'promotion_last_5years'],
 ['sales', 'salary'])

In [564]:
data.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
14994,0.77,0.68,5.0,162.0,4.0,1.0,0.0,0.0,technical,medium
14995,0.42,0.69,3.0,126.0,2.0,0.0,0.0,0.0,sales,low
14996,0.14,0.57,6.0,275.0,5.0,0.0,0.0,0.0,sales,low
14997,0.63,0.64,4.0,178.0,3.0,0.0,0.0,0.0,product_mng,low
14998,0.90,0.85,3.0,158.0,7.0,0.0,0.0,0.0,marketing,medium

### Timing some of the functions
Below is a piece of information on efficiency of the functions. This doesn't reflect complexity of the functions, but it will show an runtime estimate for your local machine.

In [565]:
%timeit nan_checker.is_nan(["", 'None', 'NaN'])
%timeit nan_checker.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

100000 loops, best of 3: 5.01 µs per loop
100000 loops, best of 3: 4.95 µs per loop