In [10]:
import impyte
import pandas as pd

In [56]:
data = pd.read_csv('data/hr_test.csv')

In [57]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [66]:
def remove_random(data, percentage=.2):
    """
    Helper function to remove percentage data points from a data frame.
    The NaN values are distributed equally over the whole data set.
    """
    
    # shuffle data and re-index
    data = data.sample(frac=1).reset_index(drop=True)
    # determine how many data points need to be removed per column
    frac = int(percentage * len(data)) / len(data.columns)
    
    counter = 1
    # iterate over columns and remove frac amount of data points
    for column in data.columns:
        lo = (counter - 1) * frac
        hi = (counter * frac) - 1
        data.loc[lo:hi,column] = None
        counter += 1
    return data

In [67]:
data = remove_random(data, .25)

In [69]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,NaN,0.61,3.0,104.0,5.0,0.0,0.0,0.0,IT,medium
1,NaN,0.64,3.0,165.0,3.0,NaN,0.0,0.0,IT,high
2,NaN,0.86,3.0,101.0,5.0,0.0,0.0,0.0,IT,low
3,NaN,0.72,3.0,259.0,2.0,0.0,0.0,0.0,technical,medium
4,NaN,0.54,2.0,143.0,3.0,1.0,1.0,0.0,sales,low

In [11]:
imputer = impyte.Imputer()

In [9]:
print imputer.is_nan(["", 'None', 'NaN'])
print imputer.is_nan(["", 'None', 'NaN'], nan_vals=['', None, 'None', 'NaN'])

[True, False, False]
[True, True, True]